openapi: 3.0.0
info:
  title: Discord REST Api
  version: "10"
servers:
  - url: https://discord.com/api/v10
    description: The Discord v10 REST endpoint
paths:
  "/applications/{applicationId}/achievements":
    parameters:
      - name: applicationId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[application.id](https://discord.com/developers/docs/game-sdk/sdk-starter-guide#get-set-up)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Achievements
      summary: Get Achievements
      operationId: getAchievements
      parameters: []
      description: |-
        - [Get Achievements](https://discord.com/developers/docs/game-sdk/achievements#get-achievements)

            Returns all achievements for the given application. This endpoint has a rate limit of 5 requests per 5 seconds per application.
    post:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Achievements
      summary: Create Achievement
      operationId: createAchievement
      parameters: []
      description: |-
        - [Create Achievement](https://discord.com/developers/docs/game-sdk/achievements#create-achievement)

            Creates a new achievement for your application. Applications can have a maximum of 1000 achievements. This endpoint has a rate limit of 5 requests per 5 seconds per application.
  "/applications/{applicationId}/achievements/{achievementId}":
    parameters:
      - name: applicationId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[application.id](https://discord.com/developers/docs/game-sdk/sdk-starter-guide#get-set-up)"
      - name: achievementId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[achievement.id](https://discord.com/developers/docs/game-sdk/achievements#data-models-achievement-struct)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Achievements
      summary: Get Achievement
      operationId: getAchievement
      parameters: []
      description: |-
        - [Get Achievement](https://discord.com/developers/docs/game-sdk/achievements#get-achievement)

            Returns the given achievement for the given application. This endpoint has a rate limit of 5 requests per 5 seconds per application.
    patch:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Achievements
      summary: Update Achievement
      operationId: updateAchievement
      parameters: []
      description: |-
        - [Update Achievement](https://discord.com/developers/docs/game-sdk/achievements#update-achievement)

            Updates the achievement for **\_\_ALL USERS\_\_**. This is **NOT** to update a single user's achievement progress; this is to edit the UserAchievement itself. This endpoint has a rate limit of 5 requests per 5 seconds per application.
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Achievements
      summary: Delete Achievement
      operationId: deleteAchievement
      parameters: []
      description: |-
        - [Delete Achievement](https://discord.com/developers/docs/game-sdk/achievements#delete-achievement)

            Deletes the given achievement from your application. This endpoint has a rate limit of 5 requests per 5 seconds per application.
  "/users/{userId}/applications/{applicationId}/achievements/{achievementId}":
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[user.id](https://discord.com/developers/docs/resources/user#user-object)"
      - name: applicationId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[application.id](https://discord.com/developers/docs/game-sdk/sdk-starter-guide#get-set-up)"
      - name: achievementId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[achievement.id](https://discord.com/developers/docs/game-sdk/achievements#data-models-achievement-struct)"
    put:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Achievements
      summary: Update User Achievement
      operationId: updateUserAchievement
      parameters: []
      description: |-
        - [Update User Achievement](https://discord.com/developers/docs/game-sdk/achievements#update-user-achievement)

            Updates the UserAchievement record for a given user. Use this endpoint to update `secure` achievement progress for users. This endpoint has a rate limit of 5 requests per 5 seconds per application.
  "/users/@me/applications/{applicationId}/achievements":
    parameters:
      - name: applicationId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[application.id](https://discord.com/developers/docs/game-sdk/sdk-starter-guide#get-set-up)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Achievements
      summary: Get User Achievements
      operationId: getUserAchievements
      parameters: []
      description: |-
        - [Get User Achievements](https://discord.com/developers/docs/game-sdk/achievements#get-user-achievements)

            Returns a list of achievements for the user whose token you're making the request with. This endpoint will **NOT** accept the Bearer token for your application generated via the [Client Credentials Grant](#DOCS_TOPICS_OAUTH2/client-credentials-grant). You will need the _user's_ bearer token, gotten via either the [Authorization Code OAuth2 Grant](#DOCS_TOPICS_OAUTH2/authorization-code-grant) or via the SDK with [GetOAuth2Token](#DOCS_GAME_SDK_APPLICATIONS/getoauth2token). This endpoint has a rate limit of 2 requests per 5 seconds per application per user.
          > info
          > This endpoint will _not_ return any achievements marked as `secret` that the user has not yet completed.
  "/applications/{applicationId}/commands":
    parameters:
      - name: applicationId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[application.id](https://discord.com/developers/docs/resources/application#application-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Get Global Application Commands
      operationId: getGlobalApplicationCommands
      parameters:
        - in: query
          name: with_localizations
          schema:
            type: boolean
          description: Whether to include full localization dictionaries (`name_localizations` and `description_localizations`) in the returned objects, instead of the `name_localized` and `description_localized` fields. Default `false`.
      description: |-
        - [Get Global Application Commands](https://discord.com/developers/docs/interactions/application-commands#get-global-application-commands)

            > warn
          > The objects returned by this endpoint may be augmented with [additional fields if localization is active](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/retrieving-localized-commands).
          Fetch all of the global commands for your application. Returns an array of [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) objects.
    post:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Create Global Application Command
      operationId: createGlobalApplicationCommand
      parameters: []
      description: |-
        - [Create Global Application Command](https://discord.com/developers/docs/interactions/application-commands#create-global-application-command)

            > danger
          > Creating a command with the same name as an existing command for your application will overwrite the old command.
          Create a new global command. Returns `201` and an [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) object.
    put:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Bulk Overwrite Global Application Commands
      operationId: bulkOverwriteGlobalApplicationCommands
      parameters: []
      description: |-
        - [Bulk Overwrite Global Application Commands](https://discord.com/developers/docs/interactions/application-commands#bulk-overwrite-global-application-commands)

            Takes a list of application commands, overwriting the existing global command list for this application. Returns `200` and a list of [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) objects. Commands that do not already exist will count toward daily application command create limits.
          > danger
          > This will overwrite **all** types of application commands: slash commands, user commands, and message commands.
  "/applications/{applicationId}/commands/{commandId}":
    parameters:
      - name: applicationId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[application.id](https://discord.com/developers/docs/resources/application#application-object)"
      - name: commandId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[command.id](https://discord.com/developers/docs/interactions/application-commands#application-command-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Get Global Application Command
      operationId: getGlobalApplicationCommand
      parameters: []
      description: |-
        - [Get Global Application Command](https://discord.com/developers/docs/interactions/application-commands#get-global-application-command)

            Fetch a global command for your application. Returns an [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) object.
    patch:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Edit Global Application Command
      operationId: editGlobalApplicationCommand
      parameters: []
      description: |-
        - [Edit Global Application Command](https://discord.com/developers/docs/interactions/application-commands#edit-global-application-command)

            > info
          > All parameters for this endpoint are optional.
          Edit a global command. Returns `200` and an [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) object. All fields are optional, but any fields provided will entirely overwrite the existing values of those fields.
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Delete Global Application Command
      operationId: deleteGlobalApplicationCommand
      parameters: []
      description: |-
        - [Delete Global Application Command](https://discord.com/developers/docs/interactions/application-commands#delete-global-application-command)

            Deletes a global command. Returns `204 No Content` on success.
  "/applications/{applicationId}/guilds/{guildId}/commands":
    parameters:
      - name: applicationId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[application.id](https://discord.com/developers/docs/resources/application#application-object)"
      - name: guildId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[guild.id](https://discord.com/developers/docs/resources/guild#guild-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Get Guild Application Commands
      operationId: getGuildApplicationCommands
      parameters:
        - in: query
          name: with_localizations
          schema:
            type: boolean
          description: Whether to include full localization dictionaries (`name_localizations` and `description_localizations`) in the returned objects, instead of the `name_localized` and `description_localized` fields. Default `false`.
      description: |-
        - [Get Guild Application Commands](https://discord.com/developers/docs/interactions/application-commands#get-guild-application-commands)

            > warn
          > The objects returned by this endpoint may be augmented with [additional fields if localization is active](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/retrieving-localized-commands).
          Fetch all of the guild commands for your application for a specific guild. Returns an array of [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) objects.
    post:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Create Guild Application Command
      operationId: createGuildApplicationCommand
      parameters: []
      description: |-
        - [Create Guild Application Command](https://discord.com/developers/docs/interactions/application-commands#create-guild-application-command)

            > danger
          > Creating a command with the same name as an existing command for your application will overwrite the old command.
          Create a new guild command. New guild commands will be available in the guild immediately. Returns `201` and an [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) object. If the command did not already exist, it will count toward daily application command create limits.
    put:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Bulk Overwrite Guild Application Commands
      operationId: bulkOverwriteGuildApplicationCommands
      parameters: []
      description: |-
        - [Bulk Overwrite Guild Application Commands](https://discord.com/developers/docs/interactions/application-commands#bulk-overwrite-guild-application-commands)

            Takes a list of application commands, overwriting the existing command list for this application for the targeted guild. Returns `200` and a list of [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) objects.
          > danger
          > This will overwrite **all** types of application commands: slash commands, user commands, and message commands.
  "/applications/{applicationId}/guilds/{guildId}/commands/{commandId}":
    parameters:
      - name: applicationId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[application.id](https://discord.com/developers/docs/resources/application#application-object)"
      - name: guildId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[guild.id](https://discord.com/developers/docs/resources/guild#guild-object)"
      - name: commandId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[command.id](https://discord.com/developers/docs/interactions/application-commands#application-command-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Get Guild Application Command
      operationId: getGuildApplicationCommand
      parameters: []
      description: |-
        - [Get Guild Application Command](https://discord.com/developers/docs/interactions/application-commands#get-guild-application-command)

            Fetch a guild command for your application. Returns an [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) object.
    patch:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Edit Guild Application Command
      operationId: editGuildApplicationCommand
      parameters: []
      description: |-
        - [Edit Guild Application Command](https://discord.com/developers/docs/interactions/application-commands#edit-guild-application-command)

            > info
          > All parameters for this endpoint are optional.
          Edit a guild command. Updates for guild commands will be available immediately. Returns `200` and an [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) object. All fields are optional, but any fields provided will entirely overwrite the existing values of those fields.
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Delete Guild Application Command
      operationId: deleteGuildApplicationCommand
      parameters: []
      description: |-
        - [Delete Guild Application Command](https://discord.com/developers/docs/interactions/application-commands#delete-guild-application-command)

            Delete a guild command. Returns `204 No Content` on success.
  "/applications/{applicationId}/guilds/{guildId}/commands/permissions":
    parameters:
      - name: applicationId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[application.id](https://discord.com/developers/docs/resources/application#application-object)"
      - name: guildId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[guild.id](https://discord.com/developers/docs/resources/guild#guild-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Get Guild Application Command Permissions
      operationId: getGuildApplicationCommandPermissions
      parameters: []
      description: |-
        - [Get Guild Application Command Permissions](https://discord.com/developers/docs/interactions/application-commands#get-guild-application-command-permissions)

            Fetches permissions for all commands for your application in a guild. Returns an array of [guild application command permissions](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-permissions-object-guild-application-command-permissions-structure) objects.
    put:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Batch Edit Application Command Permissions
      operationId: batchEditApplicationCommandPermissions
      parameters: []
      description: |-
        - [Batch Edit Application Command Permissions](https://discord.com/developers/docs/interactions/application-commands#batch-edit-application-command-permissions)

            > danger
          > This endpoint has been disabled with [updates to command permissions (Permissions v2)](#DOCS_CHANGE_LOG/updated-command-permissions). Instead, you can [edit each application command permissions](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/edit-application-command-permissions) (though you should be careful to handle any potential [rate limits](#DOCS_TOPICS_RATE_LIMITS)).
  "/applications/{applicationId}/guilds/{guildId}/commands/{commandId}/permissions":
    parameters:
      - name: applicationId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[application.id](https://discord.com/developers/docs/resources/application#application-object)"
      - name: guildId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[guild.id](https://discord.com/developers/docs/resources/guild#guild-object)"
      - name: commandId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[command.id](https://discord.com/developers/docs/interactions/application-commands#application-command-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Get Application Command Permissions
      operationId: getApplicationCommandPermissions
      parameters: []
      description: |-
        - [Get Application Command Permissions](https://discord.com/developers/docs/interactions/application-commands#get-application-command-permissions)

            Fetches permissions for a specific command for your application in a guild. Returns a [guild application command permissions](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-permissions-object-guild-application-command-permissions-structure) object.
    put:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Application Commands
      summary: Edit Application Command Permissions
      operationId: editApplicationCommandPermissions
      parameters: []
      description: |-
        - [Edit Application Command Permissions](https://discord.com/developers/docs/interactions/application-commands#edit-application-command-permissions)

            > warn
          > This endpoint will overwrite existing permissions for the command in that guild
          Edits command permissions for a specific command for your application in a guild and returns a [guild application command permissions](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-permissions-object-guild-application-command-permissions-structure) object. Fires an [Application Command Permissions Update](#DOCS_TOPICS_GATEWAY/application-command-permissions-update) Gateway event.
          You can add up to 100 permission overwrites for a command.
          > info
          > This endpoint requires authentication with a Bearer token that has permission to manage the guild and its roles. For more information, read above about [application command permissions](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/permissions).
          > warn
          > Deleting or renaming a command will permanently delete all permissions for the command
  "/guilds/{guildId}/audit-logs":
    parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[guild.id](https://discord.com/developers/docs/resources/guild#guild-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Audit Log
      summary: Get Guild Audit Log
      operationId: getGuildAuditLog
      parameters:
        - in: query
          name: user_id
          schema:
            $ref: "#/components/schemas/Snowflake"
          description: Entries from a specific user ID
        - in: query
          name: action_type
          schema:
            $ref: "#/components/schemas/AuditLogEvents"
          description: Entries for a specific [audit log event](#DOCS_RESOURCES_AUDIT_LOG/audit-log-entry-object-audit-log-events)
        - in: query
          name: before
          schema:
            $ref: "#/components/schemas/Snowflake"
          description: Entries that preceded a specific audit log entry ID
        - in: query
          name: limit
          schema:
            type: integer
          description: Maximum number of entries (between 1-100) to return, defaults to 50
      description: |-
        - [Get Guild Audit Log](https://discord.com/developers/docs/resources/audit-log#get-guild-audit-log)

            Returns an [audit log](#DOCS_RESOURCES_AUDIT_LOG/audit-log-object) object for the guild. Requires the [`VIEW_AUDIT_LOG`](#DOCS_TOPICS_PERMISSIONS/permissions-bitwise-permission-flags) permission.
  "/guilds/{guildId}/auto-moderation/rules":
    parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[guild.id](https://discord.com/developers/docs/resources/guild#guild-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Auto Moderation
      summary: List Auto Moderation Rules for Guild
      operationId: listAutoModerationRulesForGuild
      parameters: []
      description: |-
        - [List Auto Moderation Rules for Guild](https://discord.com/developers/docs/resources/auto-moderation#list-auto-moderation-rules-for-guild)

            Get a list of all rules currently configured for the guild. Returns a list of [auto moderation rule](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-rule-object) objects for the given guild.
          > info
          > This endpoint requires the `MANAGE_GUILD` [permission](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-permission-requirements).
    post:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Auto Moderation
      summary: Create Auto Moderation Rule
      operationId: createAutoModerationRule
      parameters: []
      description: |-
        - [Create Auto Moderation Rule](https://discord.com/developers/docs/resources/auto-moderation#create-auto-moderation-rule)

            Create a new rule. Returns an [auto moderation rule](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-rule-object) on success. Fires an [Auto Moderation Rule Create](#DOCS_TOPICS_GATEWAY/auto-moderation-rule-create) Gateway event.
          > info
          > This endpoint requires the `MANAGE_GUILD` [permission](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-permission-requirements).
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
  "/guilds/{guildId}/auto-moderation/rules/{autoModerationRuleId}":
    parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[guild.id](https://discord.com/developers/docs/resources/guild#guild-object)"
      - name: autoModerationRuleId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[auto_moderation_rule.id](https://discord.com/developers/docs/resources/auto-moderation#auto-moderation-rule-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Auto Moderation
      summary: Get Auto Moderation Rule
      operationId: getAutoModerationRule
      parameters: []
      description: |-
        - [Get Auto Moderation Rule](https://discord.com/developers/docs/resources/auto-moderation#get-auto-moderation-rule)

            Get a single rule. Returns an [auto moderation rule](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-rule-object) object.
          > info
          > This endpoint requires the `MANAGE_GUILD` [permission](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-permission-requirements).
    patch:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Auto Moderation
      summary: Modify Auto Moderation Rule
      operationId: modifyAutoModerationRule
      parameters: []
      description: |-
        - [Modify Auto Moderation Rule](https://discord.com/developers/docs/resources/auto-moderation#modify-auto-moderation-rule)

            Modify an existing rule. Returns an [auto moderation rule](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-rule-object) on success. Fires an [Auto Moderation Rule Update](#DOCS_TOPICS_GATEWAY/auto-moderation-rule-update) Gateway event.
          > info
          > Requires `MANAGE_GUILD` [permissions](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-permission-requirements).
          > info
          > All parameters for this endpoint are optional.
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Auto Moderation
      summary: Delete Auto Moderation Rule
      operationId: deleteAutoModerationRule
      parameters: []
      description: |-
        - [Delete Auto Moderation Rule](https://discord.com/developers/docs/resources/auto-moderation#delete-auto-moderation-rule)

            Delete a rule. Returns a `204` on success. Fires an [Auto Moderation Rule Delete](#DOCS_TOPICS_GATEWAY/auto-moderation-rule-delete) Gateway event.
          > info
          > This endpoint requires the `MANAGE_GUILD` [permission](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-permission-requirements).
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
  "/channels/{channelId}":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Get Channel
      operationId: getChannel
      parameters: []
      description: |-
        - [Get Channel](https://discord.com/developers/docs/resources/channel#get-channel)

            Get a channel by ID. Returns a [channel](#DOCS_RESOURCES_CHANNEL/channel-object) object.  If the channel is a thread, a [thread member](#DOCS_RESOURCES_CHANNEL/thread-member-object) object is included in the returned result.
    patch:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Modify Channel
      operationId: modifyChannel
      parameters: []
      description: |-
        - [Modify Channel](https://discord.com/developers/docs/resources/channel#modify-channel)

            Update a channel's settings. Returns a [channel](#DOCS_RESOURCES_CHANNEL/channel-object) on success, and a 400 BAD REQUEST on invalid parameters. All JSON parameters are optional.
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Delete/Close Channel
      operationId: deleteCloseChannel
      parameters: []
      description: |-
        - [Delete/Close Channel](https://discord.com/developers/docs/resources/channel#delete)

            Delete a channel, or close a private message. Requires the `MANAGE_CHANNELS` permission for the guild, or `MANAGE_THREADS` if the channel is a thread. Deleting a category does not delete its child channels; they will have their `parent_id` removed and a [Channel Update](#DOCS_TOPICS_GATEWAY/channel-update) Gateway event will fire for each of them. Returns a [channel](#DOCS_RESOURCES_CHANNEL/channel-object) object on success. Fires a [Channel Delete](#DOCS_TOPICS_GATEWAY/channel-delete) Gateway event (or [Thread Delete](#DOCS_TOPICS_GATEWAY/thread-delete) if the channel was a thread).
          > warn
          > Deleting a guild channel cannot be undone. Use this with caution, as it is impossible to undo this action when performed on a guild channel. In contrast, when used with a private message, it is possible to undo the action by opening a private message with the recipient again.
          > info
          > For Community guilds, the Rules or Guidelines channel and the Community Updates channel cannot be deleted.
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
  "/channels/{channelId}/messages":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Get Channel Messages
      operationId: getChannelMessages
      parameters:
        - in: query
          name: around
          schema:
            $ref: "#/components/schemas/Snowflake"
          description: |-
            Get messages around this message ID
            default: absent
        - in: query
          name: before
          schema:
            $ref: "#/components/schemas/Snowflake"
          description: |-
            Get messages before this message ID
            default: absent
        - in: query
          name: after
          schema:
            $ref: "#/components/schemas/Snowflake"
          description: |-
            Get messages after this message ID
            default: absent
        - in: query
          name: limit
          schema:
            type: integer
          description: |-
            Max number of messages to return (1-100)
            default: 50
      description: |-
        - [Get Channel Messages](https://discord.com/developers/docs/resources/channel#get-channel-messages)

            Returns the messages for a channel. If operating on a guild channel, this endpoint requires the `VIEW_CHANNEL` permission to be present on the current user. If the current user is missing the `READ_MESSAGE_HISTORY` permission in the channel then this will return no messages (since they cannot read the message history). Returns an array of [message](#DOCS_RESOURCES_CHANNEL/message-object) objects on success.
          > info
          > The `before`, `after`, and `around` parameters are mutually exclusive, only one may be passed at a time.
    post:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Create Message
      operationId: createMessage
      parameters: []
      description: |-
        - [Create Message](https://discord.com/developers/docs/resources/channel#create-message)

            > warn
          > Discord may strip certain characters from message content, like invalid unicode characters or characters which cause unexpected message formatting. If you are passing user-generated strings into message content, consider sanitizing the data to prevent unexpected behavior and utilizing `allowed_mentions` to prevent unexpected mentions.
          Post a message to a guild text or DM channel. Returns a [message](#DOCS_RESOURCES_CHANNEL/message-object) object. Fires a [Message Create](#DOCS_TOPICS_GATEWAY/message-create) Gateway event. See [message formatting](#DOCS_REFERENCE/message-formatting) for more information on how to properly format messages.
          To create a message as a reply to another message, apps can include a [`message_reference`](#DOCS_RESOURCES_CHANNEL/message-reference-object-message-reference-structure) with a `message_id`. The `channel_id` and `guild_id` in the `message_reference` are optional, but will be validated if provided.
          Files must be attached using a `multipart/form-data` body as described in [Uploading Files](#DOCS_REFERENCE/uploading-files).
  "/channels/{channelId}/messages/{messageId}":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
      - name: messageId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[message.id](https://discord.com/developers/docs/resources/channel#message-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Get Channel Message
      operationId: getChannelMessage
      parameters: []
      description: |-
        - [Get Channel Message](https://discord.com/developers/docs/resources/channel#get-channel-message)

            Returns a specific message in the channel. If operating on a guild channel, this endpoint requires the `READ_MESSAGE_HISTORY` permission to be present on the current user. Returns a [message](#DOCS_RESOURCES_CHANNEL/message-object) object on success.
    patch:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Edit Message
      operationId: editMessage
      parameters: []
      description: |-
        - [Edit Message](https://discord.com/developers/docs/resources/channel#edit-message)

            Edit a previously sent message. The fields `content`, `embeds`, and `flags` can be edited by the original message author. Other users can only edit `flags` and only if they have the `MANAGE_MESSAGES` permission in the corresponding channel. When specifying flags, ensure to include all previously set flags/bits in addition to ones that you are modifying. Only `flags` documented in the table below may be modified by users (unsupported flag changes are currently ignored without error).
          When the `content` field is edited, the `mentions` array in the message object will be reconstructed from scratch based on the new content. The `allowed_mentions` field of the edit request controls how this happens. If there is no explicit `allowed_mentions` in the edit request, the content will be parsed with _default_ allowances, that is, without regard to whether or not an `allowed_mentions` was present in the request that originally created the message.
          Returns a [message](#DOCS_RESOURCES_CHANNEL/message-object) object. Fires a [Message Update](#DOCS_TOPICS_GATEWAY/message-update) Gateway event.
          Refer to [Uploading Files](#DOCS_REFERENCE/uploading-files) for details on attachments and `multipart/form-data` requests.
          Any provided files will be **appended** to the message. To remove or replace files you will have to supply the `attachments` field which specifies the files to retain on the message after edit.
          > warn
          > Starting with API v10, the `attachments` array must contain all attachments that should be present after edit, including **retained and new** attachments provided in the request body.
          > info
          > All parameters to this endpoint are optional and nullable.
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Delete Message
      operationId: deleteMessage
      parameters: []
      description: |-
        - [Delete Message](https://discord.com/developers/docs/resources/channel#delete-message)

            Delete a message. If operating on a guild channel and trying to delete a message that was not sent by the current user, this endpoint requires the `MANAGE_MESSAGES` permission. Returns a 204 empty response on success. Fires a [Message Delete](#DOCS_TOPICS_GATEWAY/message-delete) Gateway event.
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
  "/channels/{channelId}/messages/{messageId}/crosspost":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
      - name: messageId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[message.id](https://discord.com/developers/docs/resources/channel#message-object)"
    post:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Crosspost Message
      operationId: crosspostMessage
      parameters: []
      description: |-
        - [Crosspost Message](https://discord.com/developers/docs/resources/channel#crosspost-message)

            Crosspost a message in an Announcement Channel to following channels. This endpoint requires the `SEND_MESSAGES` permission, if the current user sent the message, or additionally the `MANAGE_MESSAGES` permission, for all other messages, to be present for the current user.
          Returns a [message](#DOCS_RESOURCES_CHANNEL/message-object) object.
  "/channels/{channelId}/messages/{messageId}/reactions/{emoji}/@me":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
      - name: messageId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[message.id](https://discord.com/developers/docs/resources/channel#message-object)"
      - name: emoji
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Emoji"
        description: "[emoji](https://discord.com/developers/docs/resources/emoji#emoji-object)"
    put:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Create Reaction
      operationId: createReaction
      parameters: []
      description: |-
        - [Create Reaction](https://discord.com/developers/docs/resources/channel#create-reaction)

            Create a reaction for the message. This endpoint requires the `READ_MESSAGE_HISTORY` permission to be present on the current user. Additionally, if nobody else has reacted to the message using this emoji, this endpoint requires the `ADD_REACTIONS` permission to be present on the current user. Returns a 204 empty response on success. Fires a [Message Reaction Add](#DOCS_TOPICS_GATEWAY/message-reaction-add) Gateway event.
          The `emoji` must be [URL Encoded](https://en.wikipedia.org/wiki/Percent-encoding) or the request will fail with `10014: Unknown Emoji`. To use custom emoji, you must encode it in the format `name:id` with the emoji name and emoji id.
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Delete Own Reaction
      operationId: deleteOwnReaction
      parameters: []
      description: |-
        - [Delete Own Reaction](https://discord.com/developers/docs/resources/channel#delete-own-reaction)

            Delete a reaction the current user has made for the message. Returns a 204 empty response on success. Fires a [Message Reaction Remove](#DOCS_TOPICS_GATEWAY/message-reaction-remove) Gateway event.
          The `emoji` must be [URL Encoded](https://en.wikipedia.org/wiki/Percent-encoding) or the request will fail with `10014: Unknown Emoji`. To use custom emoji, you must encode it in the format `name:id` with the emoji name and emoji id.
  "/channels/{channelId}/messages/{messageId}/reactions/{emoji}/{userId}":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
      - name: messageId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[message.id](https://discord.com/developers/docs/resources/channel#message-object)"
      - name: emoji
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Emoji"
        description: "[emoji](https://discord.com/developers/docs/resources/emoji#emoji-object)"
      - name: userId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[user.id](https://discord.com/developers/docs/resources/user#user-object)"
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Delete User Reaction
      operationId: deleteUserReaction
      parameters: []
      description: |-
        - [Delete User Reaction](https://discord.com/developers/docs/resources/channel#delete-user-reaction)

            Deletes another user's reaction. This endpoint requires the `MANAGE_MESSAGES` permission to be present on the current user. Returns a 204 empty response on success. Fires a [Message Reaction Remove](#DOCS_TOPICS_GATEWAY/message-reaction-remove) Gateway event.
          The `emoji` must be [URL Encoded](https://en.wikipedia.org/wiki/Percent-encoding) or the request will fail with `10014: Unknown Emoji`. To use custom emoji, you must encode it in the format `name:id` with the emoji name and emoji id.
  "/channels/{channelId}/messages/{messageId}/reactions/{emoji}":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
      - name: messageId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[message.id](https://discord.com/developers/docs/resources/channel#message-object)"
      - name: emoji
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Emoji"
        description: "[emoji](https://discord.com/developers/docs/resources/emoji#emoji-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Get Reactions
      operationId: getReactions
      parameters:
        - in: query
          name: after
          schema:
            $ref: "#/components/schemas/Snowflake"
          description: |-
            Get users after this user ID
            default: absent
        - in: query
          name: limit
          schema:
            type: integer
          description: |-
            Max number of users to return (1-100)
            default: 25
      description: |-
        - [Get Reactions](https://discord.com/developers/docs/resources/channel#get-reactions)

            Get a list of users that reacted with this emoji. Returns an array of [user](#DOCS_RESOURCES_USER/user-object) objects on success.
          The `emoji` must be [URL Encoded](https://en.wikipedia.org/wiki/Percent-encoding) or the request will fail with `10014: Unknown Emoji`. To use custom emoji, you must encode it in the format `name:id` with the emoji name and emoji id.
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Delete All Reactions for Emoji
      operationId: deleteAllReactionsForEmoji
      parameters: []
      description: |-
        - [Delete All Reactions for Emoji](https://discord.com/developers/docs/resources/channel#delete-all-reactions-for-emoji)

            Deletes all the reactions for a given emoji on a message. This endpoint requires the `MANAGE_MESSAGES` permission to be present on the current user. Fires a [Message Reaction Remove Emoji](#DOCS_TOPICS_GATEWAY/message-reaction-remove-emoji) Gateway event.
          The `emoji` must be [URL Encoded](https://en.wikipedia.org/wiki/Percent-encoding) or the request will fail with `10014: Unknown Emoji`. To use custom emoji, you must encode it in the format `name:id` with the emoji name and emoji id.
  "/channels/{channelId}/messages/{messageId}/reactions":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
      - name: messageId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[message.id](https://discord.com/developers/docs/resources/channel#message-object)"
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Delete All Reactions
      operationId: deleteAllReactions
      parameters: []
      description: |-
        - [Delete All Reactions](https://discord.com/developers/docs/resources/channel#delete-all-reactions)

            Deletes all reactions on a message. This endpoint requires the `MANAGE_MESSAGES` permission to be present on the current user. Fires a [Message Reaction Remove All](#DOCS_TOPICS_GATEWAY/message-reaction-remove-all) Gateway event.
  "/channels/{channelId}/messages/bulk-delete":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
    post:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Bulk Delete Messages
      operationId: bulkDeleteMessages
      parameters: []
      description: |-
        - [Bulk Delete Messages](https://discord.com/developers/docs/resources/channel#bulk-delete-messages)

            Delete multiple messages in a single request. This endpoint can only be used on guild channels and requires the `MANAGE_MESSAGES` permission. Returns a 204 empty response on success. Fires a [Message Delete Bulk](#DOCS_TOPICS_GATEWAY/message-delete-bulk) Gateway event.
          Any message IDs given that do not exist or are invalid will count towards the minimum and maximum message count (currently 2 and 100 respectively).
          > warn
          > This endpoint will not delete messages older than 2 weeks, and will fail with a 400 BAD REQUEST if any message provided is older than that or if any duplicate message IDs are provided.
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
  "/channels/{channelId}/permissions/{overwriteId}":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
      - name: overwriteId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[overwrite.id](https://discord.com/developers/docs/resources/channel#overwrite-object)"
    put:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Edit Channel Permissions
      operationId: editChannelPermissions
      parameters: []
      description: |-
        - [Edit Channel Permissions](https://discord.com/developers/docs/resources/channel#edit-channel-permissions)

            Edit the channel permission overwrites for a user or role in a channel. Only usable for guild channels. Requires the `MANAGE_ROLES` permission. Only permissions your bot has in the guild or parent channel (if applicable) can be allowed/denied (unless your bot has a `MANAGE_ROLES` overwrite in the channel). Returns a 204 empty response on success. Fires a [Channel Update](#DOCS_TOPICS_GATEWAY/channel-update) Gateway event. For more information about permissions, see [permissions](#DOCS_TOPICS_PERMISSIONS/permissions).
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Delete Channel Permission
      operationId: deleteChannelPermission
      parameters: []
      description: |-
        - [Delete Channel Permission](https://discord.com/developers/docs/resources/channel#delete-channel-permission)

            Delete a channel permission overwrite for a user or role in a channel. Only usable for guild channels. Requires the `MANAGE_ROLES` permission. Returns a 204 empty response on success. Fires a [Channel Update](#DOCS_TOPICS_GATEWAY/channel-update) Gateway event. For more information about permissions, see [permissions](#DOCS_TOPICS_PERMISSIONS/permissions)
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
  "/channels/{channelId}/invites":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Get Channel Invites
      operationId: getChannelInvites
      parameters: []
      description: |-
        - [Get Channel Invites](https://discord.com/developers/docs/resources/channel#get-channel-invites)

            Returns a list of [invite](#DOCS_RESOURCES_INVITE/invite-object) objects (with [invite metadata](#DOCS_RESOURCES_INVITE/invite-metadata-object)) for the channel. Only usable for guild channels. Requires the `MANAGE_CHANNELS` permission.
    post:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Create Channel Invite
      operationId: createChannelInvite
      parameters: []
      description: |-
        - [Create Channel Invite](https://discord.com/developers/docs/resources/channel#create-channel-invite)

            Create a new [invite](#DOCS_RESOURCES_INVITE/invite-object) object for the channel. Only usable for guild channels. Requires the `CREATE_INSTANT_INVITE` permission. All JSON parameters for this route are optional, however the request body is not. If you are not sending any fields, you still have to send an empty JSON object (`{}`). Returns an [invite](#DOCS_RESOURCES_INVITE/invite-object) object. Fires an [Invite Create](#DOCS_TOPICS_GATEWAY/invite-create) Gateway event.
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
  "/channels/{channelId}/followers":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
    post:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Follow Announcement Channel
      operationId: followAnnouncementChannel
      parameters: []
      description: |-
        - [Follow Announcement Channel](https://discord.com/developers/docs/resources/channel#follow-announcement-channel)

            Follow an Announcement Channel to send messages to a target channel. Requires the `MANAGE_WEBHOOKS` permission in the target channel. Returns a [followed channel](#DOCS_RESOURCES_CHANNEL/followed-channel-object) object. Fires a [Webhooks Update](#DOCS_TOPICS_GATEWAY/webhooks-update) Gateway event for the target channel.
  "/channels/{channelId}/typing":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
    post:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Trigger Typing Indicator
      operationId: triggerTypingIndicator
      parameters: []
      description: |-
        - [Trigger Typing Indicator](https://discord.com/developers/docs/resources/channel#trigger-typing-indicator)

            Post a typing indicator for the specified channel. Generally bots should **not** implement this route. However, if a bot is responding to a command and expects the computation to take a few seconds, this endpoint may be called to let the user know that the bot is processing their message. Returns a 204 empty response on success. Fires a [Typing Start](#DOCS_TOPICS_GATEWAY/typing-start) Gateway event.
  "/channels/{channelId}/pins":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Get Pinned Messages
      operationId: getPinnedMessages
      parameters: []
      description: |-
        - [Get Pinned Messages](https://discord.com/developers/docs/resources/channel#get-pinned-messages)

            Returns all pinned messages in the channel as an array of [message](#DOCS_RESOURCES_CHANNEL/message-object) objects.
  "/channels/{channelId}/pins/{messageId}":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
      - name: messageId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[message.id](https://discord.com/developers/docs/resources/channel#message-object)"
    put:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Pin Message
      operationId: pinMessage
      parameters: []
      description: |-
        - [Pin Message](https://discord.com/developers/docs/resources/channel#pin-message)

            Pin a message in a channel. Requires the `MANAGE_MESSAGES` permission. Returns a 204 empty response on success. Fires a [Channel Pins Update](#DOCS_TOPICS_GATEWAY/channel-pins-update) Gateway event.
          > warn
          > The max pinned messages is 50.
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Unpin Message
      operationId: unpinMessage
      parameters: []
      description: |-
        - [Unpin Message](https://discord.com/developers/docs/resources/channel#unpin-message)

            Unpin a message in a channel. Requires the `MANAGE_MESSAGES` permission. Returns a 204 empty response on success. Fires a [Channel Pins Update](#DOCS_TOPICS_GATEWAY/channel-pins-update) Gateway event.
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
  "/channels/{channelId}/recipients/{userId}":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
      - name: userId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[user.id](https://discord.com/developers/docs/resources/user#user-object)"
    put:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Group DM Add Recipient
      operationId: groupDMAddRecipient
      parameters: []
      description: |-
        - [Group DM Add Recipient](https://discord.com/developers/docs/resources/channel#group-dm-add-recipient)

            Adds a recipient to a Group DM using their access token.
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Group DM Remove Recipient
      operationId: groupDMRemoveRecipient
      parameters: []
      description: |-
        - [Group DM Remove Recipient](https://discord.com/developers/docs/resources/channel#group-dm-remove-recipient)

            Removes a recipient from a Group DM.
  "/channels/{channelId}/messages/{messageId}/threads":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
      - name: messageId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[message.id](https://discord.com/developers/docs/resources/channel#message-object)"
    post:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Start Thread from Message
      operationId: startThreadFromMessage
      parameters: []
      description: |-
        - [Start Thread from Message](https://discord.com/developers/docs/resources/channel#start-thread-from-message)

            Creates a new thread from an existing message. Returns a [channel](#DOCS_RESOURCES_CHANNEL/channel-object) on success, and a 400 BAD REQUEST on invalid parameters. Fires a [Thread Create](#DOCS_TOPICS_GATEWAY/thread-create) Gateway event.
          When called on a `GUILD_TEXT` channel, creates a `PUBLIC_THREAD`. When called on a `GUILD_ANNOUNCEMENT` channel, creates a `ANNOUNCEMENT_THREAD`. Does not work on a [`GUILD_FORUM`](#DOCS_RESOURCES_CHANNEL/start-thread-in-forum-channel) channel. The id of the created thread will be the same as the id of the source message, and as such a message can only have a single thread created from it.
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
  "/channels/{channelId}/threads":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
    post:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Start Thread without Message or Start Thread in Forum Channel
      operationId: startThreadWithoutMessageOrstartThreadInForumChannel
      parameters: []
      description: |-
        - [Start Thread without Message](https://discord.com/developers/docs/resources/channel#start-thread-without-message)

            Creates a new thread that is not connected to an existing message. Returns a [channel](#DOCS_RESOURCES_CHANNEL/channel-object) on success, and a 400 BAD REQUEST on invalid parameters. Fires a [Thread Create](#DOCS_TOPICS_GATEWAY/thread-create) Gateway event.
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
          > info
          > Creating a private thread requires the server to be boosted. The [guild features](#DOCS_RESOURCES_GUILD/guild-object-guild-features) will indicate if that is possible for the guild.
        - [Start Thread in Forum Channel](https://discord.com/developers/docs/resources/channel#start-thread-in-forum-channel)

            Creates a new thread in a forum channel, and sends a message within the created thread. Returns a [channel](#DOCS_RESOURCES_CHANNEL/channel-object), with a nested [message](#DOCS_RESOURCES_CHANNEL/message-object) object, on success, and a 400 BAD REQUEST on invalid parameters. Fires a [Thread Create](#DOCS_TOPICS_GATEWAY/thread-create) and [Message Create](#DOCS_TOPICS_GATEWAY/message-create) Gateway event.
          - The type of the created thread is `PUBLIC_THREAD`.
          - See [message formatting](#DOCS_REFERENCE/message-formatting) for more information on how to properly format messages.
          - The current user must have the `SEND_MESSAGES` permission (`CREATE_PUBLIC_THREADS` is ignored).
          - The maximum request size when sending a message is **8MiB**.
          - For the embed object, you can set every field except `type` (it will be `rich` regardless of if you try to set it), `provider`, `video`, and any `height`, `width`, or `proxy_url` values for images.
          - Examples for file uploads are available in [Uploading Files](#DOCS_REFERENCE/uploading-files).
          - Files must be attached using a `multipart/form-data` body as described in [Uploading Files](#DOCS_REFERENCE/uploading-files).
          - Note that when sending a message, you must provide a value for at **least one of** `content`, `embeds`, or `files[n]`.
          > warn
          > Discord may strip certain characters from message content, like invalid unicode characters or characters which cause unexpected message formatting. If you are passing user-generated strings into message content, consider sanitizing the data to prevent unexpected behavior and utilizing `allowed_mentions` to prevent unexpected mentions.
          > info
          > This endpoint supports the `X-Audit-Log-Reason` header.
  "/channels/{channelId}/thread-members/@me":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
    put:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Join Thread
      operationId: joinThread
      parameters: []
      description: |-
        - [Join Thread](https://discord.com/developers/docs/resources/channel#join-thread)

            Adds the current user to a thread. Also requires the thread is not archived. Returns a 204 empty response on success. Fires a [Thread Members Update](#DOCS_TOPICS_GATEWAY/thread-members-update) Gateway event.
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Leave Thread
      operationId: leaveThread
      parameters: []
      description: |-
        - [Leave Thread](https://discord.com/developers/docs/resources/channel#leave-thread)

            Removes the current user from a thread. Also requires the thread is not archived. Returns a 204 empty response on success. Fires a [Thread Members Update](#DOCS_TOPICS_GATEWAY/thread-members-update) Gateway event.
  "/channels/{channelId}/thread-members/{userId}":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
      - name: userId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[user.id](https://discord.com/developers/docs/resources/user#user-object)"
    put:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Add Thread Member
      operationId: addThreadMember
      parameters: []
      description: |-
        - [Add Thread Member](https://discord.com/developers/docs/resources/channel#add-thread-member)

            Adds another member to a thread. Requires the ability to send messages in the thread. Also requires the thread is not archived. Returns a 204 empty response if the member is successfully added or was already a member of the thread. Fires a [Thread Members Update](#DOCS_TOPICS_GATEWAY/thread-members-update) Gateway event.
    delete:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Remove Thread Member
      operationId: removeThreadMember
      parameters: []
      description: |-
        - [Remove Thread Member](https://discord.com/developers/docs/resources/channel#remove-thread-member)

            Removes another member from a thread. Requires the `MANAGE_THREADS` permission, or the creator of the thread if it is a `GUILD_PRIVATE_THREAD`. Also requires the thread is not archived. Returns a 204 empty response on success. Fires a [Thread Members Update](#DOCS_TOPICS_GATEWAY/thread-members-update) Gateway event.
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: Get Thread Member
      operationId: getThreadMember
      parameters: []
      description: |-
        - [Get Thread Member](https://discord.com/developers/docs/resources/channel#get-thread-member)

            Returns a [thread member](#DOCS_RESOURCES_CHANNEL/thread-member-object) object for the specified user if they are a member of the thread, returns a 404 response otherwise.
  "/channels/{channelId}/thread-members":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: List Thread Members
      operationId: listThreadMembers
      parameters: []
      description: |-
        - [List Thread Members](https://discord.com/developers/docs/resources/channel#list-thread-members)

            Returns array of [thread members](#DOCS_RESOURCES_CHANNEL/thread-member-object) objects that are members of the thread.
          > warn
          > This endpoint is restricted according to whether the `GUILD_MEMBERS` [Privileged Intent](#DOCS_TOPICS_GATEWAY/privileged-intents) is enabled for your application.
  "/channels/{channelId}/threads/archived/public":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: List Public Archived Threads
      operationId: listPublicArchivedThreads
      parameters:
        - in: query
          name: before
          schema:
            $ref: "#/components/schemas/ISO8601DateTime"
          description: returns threads before this timestamp
        - in: query
          name: limit
          schema:
            type: integer
          description: optional maximum number of threads to return
      description: |-
        - [List Public Archived Threads](https://discord.com/developers/docs/resources/channel#list-public-archived-threads)

            Returns archived threads in the channel that are public. When called on a `GUILD_TEXT` channel, returns threads of [type](#DOCS_RESOURCES_CHANNEL/channel-object-channel-types) `PUBLIC_THREAD`. When called on a `GUILD_ANNOUNCEMENT` channel returns threads of [type](#DOCS_RESOURCES_CHANNEL/channel-object-channel-types) `ANNOUNCEMENT_THREAD`. Threads are ordered by `archive_timestamp`, in descending order. Requires the `READ_MESSAGE_HISTORY` permission.
  "/channels/{channelId}/threads/archived/private":
    parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/Snowflake"
        description: "[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"
    get:
      responses:
        "401":
          $ref: "#/components/responses/DiscordUnauthorizedError"
        "403":
          $ref: "#/components/responses/DiscordForbiddenError"
        "404":
          $ref: "#/components/responses/DiscordNotFoundError"
        "429":
          $ref: "#/components/responses/DiscordRatelimitError"
        "500":
          $ref: "#/components/responses/DiscordApiError"
        "502":
          $ref: "#/components/responses/DiscordGatewayUnavailableError"
      tags:
        - Channel
      summary: List Private Archived Threads
      operationId: listPrivateArchivedThreads
      parameters:
[...]
