{"openapi":"3.0.0","info":{"title":"Discord REST Api","version":"10"},"servers":[{"url":"https://discord.com/api/v10","description":"The Discord v10 REST endpoint"}],"paths":{"/applications/{applicationId}/achievements":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/game-sdk/sdk-starter-guide#get-set-up)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Achievements"],"summary":"Get Achievements or Get Achievements","operationId":"getAchievementsOrgetAchievements","description":"- [Get Achievements](https://discord.com/developers/docs/game-sdk/achievements#get-achievements)\n\n    Returns all achievements for the given application. This endpoint has a rate limit of 5 requests per 5 seconds per application.\n- [Get Achievements](https://discord.com/developers/docs/game-sdk/achievements#get-achievements)\n\n    Returns all achievements for the given application. This endpoint has a rate limit of 5 requests per 5 seconds per application."},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Achievements"],"summary":"Create Achievement or Create Achievement","operationId":"createAchievementOrcreateAchievement","description":"- [Create Achievement](https://discord.com/developers/docs/game-sdk/achievements#create-achievement)\n\n    Creates a new achievement for your application. Applications can have a maximum of 1000 achievements. This endpoint has a rate limit of 5 requests per 5 seconds per application.\n- [Create Achievement](https://discord.com/developers/docs/game-sdk/achievements#create-achievement)\n\n    Creates a new achievement for your application. Applications can have a maximum of 1000 achievements. This endpoint has a rate limit of 5 requests per 5 seconds per application."}},"/applications/{applicationId}/achievements/{achievementId}":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/game-sdk/sdk-starter-guide#get-set-up)"},{"name":"achievementId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[achievement.id](https://discord.com/developers/docs/game-sdk/achievements#data-models-achievement-struct)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Achievements"],"summary":"Get Achievement or Get Achievement","operationId":"getAchievementOrgetAchievement","description":"- [Get Achievement](https://discord.com/developers/docs/game-sdk/achievements#get-achievement)\n\n    Returns the given achievement for the given application. This endpoint has a rate limit of 5 requests per 5 seconds per application.\n- [Get Achievement](https://discord.com/developers/docs/game-sdk/achievements#get-achievement)\n\n    Returns the given achievement for the given application. This endpoint has a rate limit of 5 requests per 5 seconds per application."},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Achievements"],"summary":"Update Achievement or Update Achievement","operationId":"updateAchievementOrupdateAchievement","description":"- [Update Achievement](https://discord.com/developers/docs/game-sdk/achievements#update-achievement)\n\n    Updates the achievement for **\\_\\_ALL USERS\\_\\_**. This is **NOT** to update a single user's achievement progress; this is to edit the UserAchievement itself. This endpoint has a rate limit of 5 requests per 5 seconds per application.\n- [Update Achievement](https://discord.com/developers/docs/game-sdk/achievements#update-achievement)\n\n    Updates the achievement for **\\_\\_ALL USERS\\_\\_**. This is **NOT** to update a single user's achievement progress; this is to edit the UserAchievement itself. This endpoint has a rate limit of 5 requests per 5 seconds per application."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Achievements"],"summary":"Delete Achievement or Delete Achievement","operationId":"deleteAchievementOrdeleteAchievement","description":"- [Delete Achievement](https://discord.com/developers/docs/game-sdk/achievements#delete-achievement)\n\n    Deletes the given achievement from your application. This endpoint has a rate limit of 5 requests per 5 seconds per application.\n- [Delete Achievement](https://discord.com/developers/docs/game-sdk/achievements#delete-achievement)\n\n    Deletes the given achievement from your application. This endpoint has a rate limit of 5 requests per 5 seconds per application."}},"/users/{userId}/applications/{applicationId}/achievements/{achievementId}":{"parameters":[{"name":"userId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[user.id](https://discord.com/developers/docs/resources/user#user-object)"},{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/game-sdk/sdk-starter-guide#get-set-up)"},{"name":"achievementId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[achievement.id](https://discord.com/developers/docs/game-sdk/achievements#data-models-achievement-struct)"}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Achievements"],"summary":"Update User Achievement or Update User Achievement","operationId":"updateUserAchievementOrupdateUserAchievement","description":"- [Update User Achievement](https://discord.com/developers/docs/game-sdk/achievements#update-user-achievement)\n\n    Updates the UserAchievement record for a given user. Use this endpoint to update `secure` achievement progress for users. This endpoint has a rate limit of 5 requests per 5 seconds per application.\n- [Update User Achievement](https://discord.com/developers/docs/game-sdk/achievements#update-user-achievement)\n\n    Updates the UserAchievement record for a given user. Use this endpoint to update `secure` achievement progress for users. This endpoint has a rate limit of 5 requests per 5 seconds per application."}},"/users/@me/applications/{applicationId}/achievements":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/game-sdk/sdk-starter-guide#get-set-up)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Achievements"],"summary":"Get User Achievements or Get User Achievements","operationId":"getUserAchievementsOrgetUserAchievements","description":"- [Get User Achievements](https://discord.com/developers/docs/game-sdk/achievements#get-user-achievements)\n\n    Returns a list of achievements for the user whose token you're making the request with. This endpoint will **NOT** accept the Bearer token for your application generated via the [Client Credentials Grant](#DOCS_TOPICS_OAUTH2/client-credentials-grant). You will need the _user's_ bearer token, gotten via either the [Authorization Code OAuth2 Grant](#DOCS_TOPICS_OAUTH2/authorization-code-grant) or via the SDK with [GetOAuth2Token](#DOCS_GAME_SDK_APPLICATIONS/getoauth2token). This endpoint has a rate limit of 2 requests per 5 seconds per application per user.\n  > info\n  > This endpoint will _not_ return any achievements marked as `secret` that the user has not yet completed.\n- [Get User Achievements](https://discord.com/developers/docs/game-sdk/achievements#get-user-achievements)\n\n    Returns a list of achievements for the user whose token you're making the request with. This endpoint will **NOT** accept the Bearer token for your application generated via the [Client Credentials Grant](#DOCS_TOPICS_OAUTH2/client-credentials-grant). You will need the _user's_ bearer token, gotten via either the [Authorization Code OAuth2 Grant](#DOCS_TOPICS_OAUTH2/authorization-code-grant) or via the SDK with [GetOAuth2Token](#DOCS_GAME_SDK_APPLICATIONS/getoauth2token). This endpoint has a rate limit of 2 requests per 5 seconds per application per user.\n  > info\n  > This endpoint will _not_ return any achievements marked as `secret` that the user has not yet completed."}},"/lobbies":{"parameters":[],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Lobbies"],"summary":"Create Lobby or Create Lobby","operationId":"createLobbyOrcreateLobby","description":"- [Create Lobby](https://discord.com/developers/docs/game-sdk/lobbies#create-lobby)\n\n    Creates a new lobby. Returns an object similar to the SDK `Lobby` struct, documented below.\n  To get a list of valid regions, call the [List Voice Regions](https://discord.com/developers/docs/resources/voice#list-voice-regions) endpoint.\n- [Create Lobby](https://discord.com/developers/docs/game-sdk/lobbies#create-lobby)\n\n    Creates a new lobby. Returns an object similar to the SDK `Lobby` struct, documented below.\n  To get a list of valid regions, call the [List Voice Regions](https://discord.com/developers/docs/resources/voice#list-voice-regions) endpoint."}},"/lobbies/{lobbyId}":{"parameters":[{"name":"lobbyId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[lobby.id](https://discord.com/developers/docs/game-sdk/lobbies#data-models-lobby-struct)"}],"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Lobbies"],"summary":"Update Lobby or Update Lobby","operationId":"updateLobbyOrupdateLobby","description":"- [Update Lobby](https://discord.com/developers/docs/game-sdk/lobbies#update-lobby)\n\n    Updates a lobby.\n- [Update Lobby](https://discord.com/developers/docs/game-sdk/lobbies#update-lobby)\n\n    Updates a lobby."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Lobbies"],"summary":"Delete Lobby or Delete Lobby","operationId":"deleteLobbyOrdeleteLobby","description":"- [Delete Lobby](https://discord.com/developers/docs/game-sdk/lobbies#delete-lobby)\n\n    Deletes a lobby.\n- [Delete Lobby](https://discord.com/developers/docs/game-sdk/lobbies#delete-lobby)\n\n    Deletes a lobby."}},"/lobbies/{lobbyId}/members/{userId}":{"parameters":[{"name":"lobbyId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[lobby.id](https://discord.com/developers/docs/game-sdk/lobbies#data-models-lobby-struct)"},{"name":"userId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[user.id](https://discord.com/developers/docs/resources/user#user-object)"}],"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Lobbies"],"summary":"Update Lobby Member or Update Lobby Member","operationId":"updateLobbyMemberOrupdateLobbyMember","description":"- [Update Lobby Member](https://discord.com/developers/docs/game-sdk/lobbies#update-lobby-member)\n\n    Updates the metadata for a lobby member.\n- [Update Lobby Member](https://discord.com/developers/docs/game-sdk/lobbies#update-lobby-member)\n\n    Updates the metadata for a lobby member."}},"/lobbies/search":{"parameters":[],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Lobbies"],"summary":"Create Lobby Search or Create Lobby Search","operationId":"createLobbySearchOrcreateLobbySearch","description":"- [Create Lobby Search](https://discord.com/developers/docs/game-sdk/lobbies#create-lobby-search)\n\n    Creates a lobby search for matchmaking around given criteria.\n- [Create Lobby Search](https://discord.com/developers/docs/game-sdk/lobbies#create-lobby-search)\n\n    Creates a lobby search for matchmaking around given criteria."}},"/lobbies/{lobbyId}/send":{"parameters":[{"name":"lobbyId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[lobby.id](https://discord.com/developers/docs/game-sdk/lobbies#data-models-lobby-struct)"}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Lobbies"],"summary":"Send Lobby Data or Send Lobby Data","operationId":"sendLobbyDataOrsendLobbyData","description":"- [Send Lobby Data](https://discord.com/developers/docs/game-sdk/lobbies#send-lobby-data)\n\n    Sends a message to the lobby, fanning it out to other lobby members.\n  This endpoints accepts a UTF8 string. If your message is already a string, you're good to go! If you want to send binary, you can send it to this endpoint as a base64 encoded data uri.\n- [Send Lobby Data](https://discord.com/developers/docs/game-sdk/lobbies#send-lobby-data)\n\n    Sends a message to the lobby, fanning it out to other lobby members.\n  This endpoints accepts a UTF8 string. If your message is already a string, you're good to go! If you want to send binary, you can send it to this endpoint as a base64 encoded data uri."}},"/applications/{applicationId}/entitlements":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/game-sdk/sdk-starter-guide#get-set-up)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Store"],"summary":"Get Entitlements or Get Entitlements","operationId":"getEntitlementsOrgetEntitlements","description":"- [Get Entitlements](https://discord.com/developers/docs/game-sdk/store#get-entitlements)\n\n    Gets entitlements for a given user. You can use this on your game backend to check entitlements of an arbitrary user, or perhaps in an administrative panel for your support team.\n- [Get Entitlements](https://discord.com/developers/docs/game-sdk/store#get-entitlements)\n\n    Gets entitlements for a given user. You can use this on your game backend to check entitlements of an arbitrary user, or perhaps in an administrative panel for your support team."}},"/applications/{applicationId}/entitlements/{entitlementId}":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/game-sdk/sdk-starter-guide#get-set-up)"},{"name":"entitlementId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[entitlement.id](https://discord.com/developers/docs/game-sdk/store#data-models-entitlement-struct)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Store"],"summary":"Get Entitlement or Get Entitlement","operationId":"getEntitlementOrgetEntitlement","description":"- [Get Entitlement](https://discord.com/developers/docs/game-sdk/store#get-entitlement)\n\n    Fetch an entitlement by its ID. This may be useful in confirming that a user has a given entitlement that another call or the SDK says they do.\n- [Get Entitlement](https://discord.com/developers/docs/game-sdk/store#get-entitlement)\n\n    Fetch an entitlement by its ID. This may be useful in confirming that a user has a given entitlement that another call or the SDK says they do."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Store"],"summary":"Delete Test Entitlement or Delete Test Entitlement","operationId":"deleteTestEntitlementOrdeleteTestEntitlement","description":"- [Delete Test Entitlement](https://discord.com/developers/docs/game-sdk/store#delete-test-entitlement)\n\n    Deletes a test entitlement for an application. You can only delete entitlements that were \"purchased\" in developer test mode; these are entitlements of `type == TestModePurchase`. You cannot use this route to delete arbitrary entitlements that users actually purchased.\n- [Delete Test Entitlement](https://discord.com/developers/docs/game-sdk/store#delete-test-entitlement)\n\n    Deletes a test entitlement for an application. You can only delete entitlements that were \"purchased\" in developer test mode; these are entitlements of `type == TestModePurchase`. You cannot use this route to delete arbitrary entitlements that users actually purchased."}},"/applications/{applicationId}/skus":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/game-sdk/sdk-starter-guide#get-set-up)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Store"],"summary":"Get SKUs or Get SKUs","operationId":"getSKUsOrgetSKUs","description":"- [Get SKUs](https://discord.com/developers/docs/game-sdk/store#get-skus)\n\n    Get all SKUs for an application.\n- [Get SKUs](https://discord.com/developers/docs/game-sdk/store#get-skus)\n\n    Get all SKUs for an application."}},"/applications/{applicationId}/entitlements/{entitlementId}/consume":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/game-sdk/sdk-starter-guide#get-set-up)"},{"name":"entitlementId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[entitlement.id](https://discord.com/developers/docs/game-sdk/store#data-models-entitlement-struct)"}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Store"],"summary":"Consume SKU or Consume SKU","operationId":"consumeSKUOrconsumeSKU","description":"- [Consume SKU](https://discord.com/developers/docs/game-sdk/store#consume-sku)\n\n    Marks a given entitlement for the user as consumed, meaning it will no longer be returned in an entitlements check. **Ensure the user was granted whatever items the entitlement was for before consuming it!**\n- [Consume SKU](https://discord.com/developers/docs/game-sdk/store#consume-sku)\n\n    Marks a given entitlement for the user as consumed, meaning it will no longer be returned in an entitlements check. **Ensure the user was granted whatever items the entitlement was for before consuming it!**"}},"/store/skus/{skuId}/discounts/{userId}":{"parameters":[{"name":"skuId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[sku.id](https://discord.com/developers/docs/game-sdk/store#data-models-sku-struct)"},{"name":"userId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[user.id](https://discord.com/developers/docs/resources/user#user-object)"}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Store"],"summary":"Create Purchase Discount or Create Purchase Discount","operationId":"createPurchaseDiscountOrcreatePurchaseDiscount","description":"- [Create Purchase Discount](https://discord.com/developers/docs/game-sdk/store#create-purchase-discount)\n\n    Creates a discount for the given user on their next purchase of the given SKU. You should call this endpoint from your backend server just before calling [StartPurchase](#DOCS_GAME_SDK_STORE/startpurchase) for the SKU you wish to discount. The user will then see a discounted price for that SKU at time of payment. The discount is automatically consumed after successful purchase or if the TTL expires.\n- [Create Purchase Discount](https://discord.com/developers/docs/game-sdk/store#create-purchase-discount)\n\n    Creates a discount for the given user on their next purchase of the given SKU. You should call this endpoint from your backend server just before calling [StartPurchase](#DOCS_GAME_SDK_STORE/startpurchase) for the SKU you wish to discount. The user will then see a discounted price for that SKU at time of payment. The discount is automatically consumed after successful purchase or if the TTL expires."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Store"],"summary":"Delete Purchase Discount or Delete Purchase Discount","operationId":"deletePurchaseDiscountOrdeletePurchaseDiscount","description":"- [Delete Purchase Discount](https://discord.com/developers/docs/game-sdk/store#delete-purchase-discount)\n\n    Deletes the currently active discount on the given SKU for the given user. You **do not need** to call this after a user has made a discounted purchase; successful discounted purchases will automatically remove the discount for that user for subsequent purchases.\n- [Delete Purchase Discount](https://discord.com/developers/docs/game-sdk/store#delete-purchase-discount)\n\n    Deletes the currently active discount on the given SKU for the given user. You **do not need** to call this after a user has made a discounted purchase; successful discounted purchases will automatically remove the discount for that user for subsequent purchases."}},"/applications/{applicationId}/commands":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/resources/application#application-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Get Global Application Commands","operationId":"getGlobalApplicationCommands","description":"- [Get Global Application Commands](https://discord.com/developers/docs/interactions/application-commands#get-global-application-commands)\n\n    > warn\n  > The objects returned by this endpoint may be augmented with [additional fields if localization is active](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/retrieving-localized-commands).\n  Fetch all of the global commands for your application. Returns an array of [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) objects."},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Create Global Application Command","operationId":"createGlobalApplicationCommand","description":"- [Create Global Application Command](https://discord.com/developers/docs/interactions/application-commands#create-global-application-command)\n\n    > danger\n  > Creating a command with the same name as an existing command for your application will overwrite the old command.\n  Create a new global command. Returns `201` and an [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) object."},"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Bulk Overwrite Global Application Commands","operationId":"bulkOverwriteGlobalApplicationCommands","description":"- [Bulk Overwrite Global Application Commands](https://discord.com/developers/docs/interactions/application-commands#bulk-overwrite-global-application-commands)\n\n    Takes a list of application commands, overwriting the existing global command list for this application. Returns `200` and a list of [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) objects. Commands that do not already exist will count toward daily application command create limits.\n  > danger\n  > This will overwrite **all** types of application commands: slash commands, user commands, and message commands."}},"/applications/{applicationId}/commands/{commandId}":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/resources/application#application-object)"},{"name":"commandId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[command.id](https://discord.com/developers/docs/interactions/application-commands#application-command-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Get Global Application Command","operationId":"getGlobalApplicationCommand","description":"- [Get Global Application Command](https://discord.com/developers/docs/interactions/application-commands#get-global-application-command)\n\n    Fetch a global command for your application. Returns an [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) object."},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Edit Global Application Command","operationId":"editGlobalApplicationCommand","description":"- [Edit Global Application Command](https://discord.com/developers/docs/interactions/application-commands#edit-global-application-command)\n\n    > info\n  > All parameters for this endpoint are optional.\n  Edit a global command. Returns `200` and an [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) object. All fields are optional, but any fields provided will entirely overwrite the existing values of those fields."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Delete Global Application Command","operationId":"deleteGlobalApplicationCommand","description":"- [Delete Global Application Command](https://discord.com/developers/docs/interactions/application-commands#delete-global-application-command)\n\n    Deletes a global command. Returns `204 No Content` on success."}},"/applications/{applicationId}/guilds/{guildId}/commands":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/resources/application#application-object)"},{"name":"guildId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[guild.id](https://discord.com/developers/docs/resources/guild#guild-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Get Guild Application Commands","operationId":"getGuildApplicationCommands","description":"- [Get Guild Application Commands](https://discord.com/developers/docs/interactions/application-commands#get-guild-application-commands)\n\n    > warn\n  > The objects returned by this endpoint may be augmented with [additional fields if localization is active](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/retrieving-localized-commands).\n  Fetch all of the guild commands for your application for a specific guild. Returns an array of [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) objects."},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Create Guild Application Command","operationId":"createGuildApplicationCommand","description":"- [Create Guild Application Command](https://discord.com/developers/docs/interactions/application-commands#create-guild-application-command)\n\n    > danger\n  > Creating a command with the same name as an existing command for your application will overwrite the old command.\n  Create a new guild command. New guild commands will be available in the guild immediately. Returns `201` and an [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) object. If the command did not already exist, it will count toward daily application command create limits."},"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Bulk Overwrite Guild Application Commands","operationId":"bulkOverwriteGuildApplicationCommands","description":"- [Bulk Overwrite Guild Application Commands](https://discord.com/developers/docs/interactions/application-commands#bulk-overwrite-guild-application-commands)\n\n    Takes a list of application commands, overwriting the existing command list for this application for the targeted guild. Returns `200` and a list of [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) objects.\n  > danger\n  > This will overwrite **all** types of application commands: slash commands, user commands, and message commands."}},"/applications/{applicationId}/guilds/{guildId}/commands/{commandId}":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/resources/application#application-object)"},{"name":"guildId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[guild.id](https://discord.com/developers/docs/resources/guild#guild-object)"},{"name":"commandId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[command.id](https://discord.com/developers/docs/interactions/application-commands#application-command-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Get Guild Application Command","operationId":"getGuildApplicationCommand","description":"- [Get Guild Application Command](https://discord.com/developers/docs/interactions/application-commands#get-guild-application-command)\n\n    Fetch a guild command for your application. Returns an [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) object."},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Edit Guild Application Command","operationId":"editGuildApplicationCommand","description":"- [Edit Guild Application Command](https://discord.com/developers/docs/interactions/application-commands#edit-guild-application-command)\n\n    > info\n  > All parameters for this endpoint are optional.\n  Edit a guild command. Updates for guild commands will be available immediately. Returns `200` and an [application command](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-object) object. All fields are optional, but any fields provided will entirely overwrite the existing values of those fields."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Delete Guild Application Command","operationId":"deleteGuildApplicationCommand","description":"- [Delete Guild Application Command](https://discord.com/developers/docs/interactions/application-commands#delete-guild-application-command)\n\n    Delete a guild command. Returns `204 No Content` on success."}},"/applications/{applicationId}/guilds/{guildId}/commands/permissions":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/resources/application#application-object)"},{"name":"guildId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[guild.id](https://discord.com/developers/docs/resources/guild#guild-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Get Guild Application Command Permissions","operationId":"getGuildApplicationCommandPermissions","description":"- [Get Guild Application Command Permissions](https://discord.com/developers/docs/interactions/application-commands#get-guild-application-command-permissions)\n\n    Fetches permissions for all commands for your application in a guild. Returns an array of [guild application command permissions](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-permissions-object-guild-application-command-permissions-structure) objects."},"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Batch Edit Application Command Permissions","operationId":"batchEditApplicationCommandPermissions","description":"- [Batch Edit Application Command Permissions](https://discord.com/developers/docs/interactions/application-commands#batch-edit-application-command-permissions)\n\n    > danger\n  > This endpoint has been disabled with [updates to command permissions (Permissions v2)](#DOCS_CHANGE_LOG/updated-command-permissions). Instead, you can [edit each application command permissions](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/edit-application-command-permissions) (though you should be careful to handle any potential [rate limits](#DOCS_TOPICS_RATE_LIMITS))."}},"/applications/{applicationId}/guilds/{guildId}/commands/{commandId}/permissions":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/resources/application#application-object)"},{"name":"guildId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[guild.id](https://discord.com/developers/docs/resources/guild#guild-object)"},{"name":"commandId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[command.id](https://discord.com/developers/docs/interactions/application-commands#application-command-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Get Application Command Permissions","operationId":"getApplicationCommandPermissions","description":"- [Get Application Command Permissions](https://discord.com/developers/docs/interactions/application-commands#get-application-command-permissions)\n\n    Fetches permissions for a specific command for your application in a guild. Returns a [guild application command permissions](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-permissions-object-guild-application-command-permissions-structure) object."},"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Edit Application Command Permissions","operationId":"editApplicationCommandPermissions","description":"- [Edit Application Command Permissions](https://discord.com/developers/docs/interactions/application-commands#edit-application-command-permissions)\n\n    > warn\n  > This endpoint will overwrite existing permissions for the command in that guild\n  Edits command permissions for a specific command for your application in a guild and returns a [guild application command permissions](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/application-command-permissions-object-guild-application-command-permissions-structure) object. Fires an [Application Command Permissions Update](#DOCS_TOPICS_GATEWAY/application-command-permissions-update) Gateway event.\n  You can add up to 100 permission overwrites for a command.\n  > info\n  > This endpoint requires authentication with a Bearer token that has permission to manage the guild and its roles. For more information, read above about [application command permissions](#DOCS_INTERACTIONS_APPLICATION_COMMANDS/permissions).\n  > warn\n  > Deleting or renaming a command will permanently delete all permissions for the command"}},"/interactions/{interactionId}/{interactionToken}/callback":{"parameters":[{"name":"interactionId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[interaction.id](https://discord.com/developers/docs/interactions/receiving-and-responding#interaction-object)"},{"name":"interactionToken","in":"path","required":true,"schema":{"type":"string","description":"Continuation token for responding to the interaction"},"description":"[interaction.token](https://discord.com/developers/docs/interactions/receiving-and-responding#interaction-object)"}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Create Interaction Response","operationId":"createInteractionResponse","description":"- [Create Interaction Response](https://discord.com/developers/docs/interactions/receiving-and-responding#create-interaction-response)\n\n    Create a response to an Interaction from the gateway. Body is an [interaction response](#DOCS_INTERACTIONS_RECEIVING_AND_RESPONDING/interaction-response-object). Returns `204 No Content`.\n  This endpoint also supports file attachments similar to the webhook endpoints. Refer to [Uploading Files](#DOCS_REFERENCE/uploading-files) for details on uploading files and `multipart/form-data` requests."}},"/webhooks/{applicationId}/{interactionToken}/messages/@original":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/resources/application#application-object)"},{"name":"interactionToken","in":"path","required":true,"schema":{"type":"string","description":"Continuation token for responding to the interaction"},"description":"[interaction.token](https://discord.com/developers/docs/interactions/receiving-and-responding#interaction-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Get Original Interaction Response","operationId":"getOriginalInteractionResponse","description":"- [Get Original Interaction Response](https://discord.com/developers/docs/interactions/receiving-and-responding#get-original-interaction-response)\n\n    Returns the initial Interaction response. Functions the same as [Get Webhook Message](#DOCS_RESOURCES_WEBHOOK/get-webhook-message)."},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Edit Original Interaction Response","operationId":"editOriginalInteractionResponse","description":"- [Edit Original Interaction Response](https://discord.com/developers/docs/interactions/receiving-and-responding#edit-original-interaction-response)\n\n    Edits the initial Interaction response. Functions the same as [Edit Webhook Message](#DOCS_RESOURCES_WEBHOOK/edit-webhook-message)."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Delete Original Interaction Response","operationId":"deleteOriginalInteractionResponse","description":"- [Delete Original Interaction Response](https://discord.com/developers/docs/interactions/receiving-and-responding#delete-original-interaction-response)\n\n    Deletes the initial Interaction response. Returns `204 No Content` on success. Does not support ephemeral followups."}},"/webhooks/{applicationId}/{interactionToken}":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/resources/application#application-object)"},{"name":"interactionToken","in":"path","required":true,"schema":{"type":"string","description":"Continuation token for responding to the interaction"},"description":"[interaction.token](https://discord.com/developers/docs/interactions/receiving-and-responding#interaction-object)"}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Create Followup Message","operationId":"createFollowupMessage","description":"- [Create Followup Message](https://discord.com/developers/docs/interactions/receiving-and-responding#create-followup-message)\n\n    Create a followup message for an Interaction. Functions the same as [Execute Webhook](#DOCS_RESOURCES_WEBHOOK/execute-webhook), but `wait` is always true. The `thread_id`, `avatar_url`, and `username` parameters are not supported when using this endpoint for interaction followups.\n  `flags` can be set to `64` to mark the message as ephemeral, except when it is the first followup message to a deferred Interactions Response. In that case, the `flags` field will be ignored, and the ephemerality of the message will be determined by the `flags` value in your original ACK."}},"/webhooks/{applicationId}/{interactionToken}/messages/{messageId}":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[application.id](https://discord.com/developers/docs/resources/application#application-object)"},{"name":"interactionToken","in":"path","required":true,"schema":{"type":"string","description":"Continuation token for responding to the interaction"},"description":"[interaction.token](https://discord.com/developers/docs/interactions/receiving-and-responding#interaction-object)"},{"name":"messageId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[message.id](https://discord.com/developers/docs/resources/channel#message-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Get Followup Message","operationId":"getFollowupMessage","description":"- [Get Followup Message](https://discord.com/developers/docs/interactions/receiving-and-responding#get-followup-message)\n\n    Returns a followup message for an Interaction. Functions the same as [Get Webhook Message](#DOCS_RESOURCES_WEBHOOK/get-webhook-message)."},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Edit Followup Message","operationId":"editFollowupMessage","description":"- [Edit Followup Message](https://discord.com/developers/docs/interactions/receiving-and-responding#edit-followup-message)\n\n    Edits a followup message for an Interaction. Functions the same as [Edit Webhook Message](#DOCS_RESOURCES_WEBHOOK/edit-webhook-message)."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Delete Followup Message","operationId":"deleteFollowupMessage","description":"- [Delete Followup Message](https://discord.com/developers/docs/interactions/receiving-and-responding#delete-followup-message)\n\n    Deletes a followup message for an Interaction. Returns `204 No Content` on success. Does not support ephemeral followups."}},"/guilds/{guildId}/audit-logs":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[guild.id](https://discord.com/developers/docs/resources/guild#guild-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Audit Log"],"summary":"Get Guild Audit Log","operationId":"getGuildAuditLog","description":"- [Get Guild Audit Log](https://discord.com/developers/docs/resources/audit-log#get-guild-audit-log)\n\n    Returns an [audit log](#DOCS_RESOURCES_AUDIT_LOG/audit-log-object) object for the guild. Requires the [`VIEW_AUDIT_LOG`](#DOCS_TOPICS_PERMISSIONS/permissions-bitwise-permission-flags) permission."}},"/guilds/{guildId}/auto-moderation/rules":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[guild.id](https://discord.com/developers/docs/resources/guild#guild-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Auto Moderation"],"summary":"List Auto Moderation Rules for Guild","operationId":"listAutoModerationRulesForGuild","description":"- [List Auto Moderation Rules for Guild](https://discord.com/developers/docs/resources/auto-moderation#list-auto-moderation-rules-for-guild)\n\n    Get a list of all rules currently configured for the guild. Returns a list of [auto moderation rule](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-rule-object) objects for the given guild.\n  > info\n  > This endpoint requires the `MANAGE_GUILD` [permission](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-permission-requirements)."},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Auto Moderation"],"summary":"Create Auto Moderation Rule","operationId":"createAutoModerationRule","description":"- [Create Auto Moderation Rule](https://discord.com/developers/docs/resources/auto-moderation#create-auto-moderation-rule)\n\n    Create a new rule. Returns an [auto moderation rule](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-rule-object) on success. Fires an [Auto Moderation Rule Create](#DOCS_TOPICS_GATEWAY/auto-moderation-rule-create) Gateway event.\n  > info\n  > This endpoint requires the `MANAGE_GUILD` [permission](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-permission-requirements).\n  > info\n  > This endpoint supports the `X-Audit-Log-Reason` header."}},"/guilds/{guildId}/auto-moderation/rules/{autoModerationRuleId}":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[guild.id](https://discord.com/developers/docs/resources/guild#guild-object)"},{"name":"autoModerationRuleId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[auto_moderation_rule.id](https://discord.com/developers/docs/resources/auto-moderation#auto-moderation-rule-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Auto Moderation"],"summary":"Get Auto Moderation Rule","operationId":"getAutoModerationRule","description":"- [Get Auto Moderation Rule](https://discord.com/developers/docs/resources/auto-moderation#get-auto-moderation-rule)\n\n    Get a single rule. Returns an [auto moderation rule](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-rule-object) object.\n  > info\n  > This endpoint requires the `MANAGE_GUILD` [permission](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-permission-requirements)."},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Auto Moderation"],"summary":"Modify Auto Moderation Rule","operationId":"modifyAutoModerationRule","description":"- [Modify Auto Moderation Rule](https://discord.com/developers/docs/resources/auto-moderation#modify-auto-moderation-rule)\n\n    Modify an existing rule. Returns an [auto moderation rule](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-rule-object) on success. Fires an [Auto Moderation Rule Update](#DOCS_TOPICS_GATEWAY/auto-moderation-rule-update) Gateway event.\n  > info\n  > Requires `MANAGE_GUILD` [permissions](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-permission-requirements).\n  > info\n  > All parameters for this endpoint are optional.\n  > info\n  > This endpoint supports the `X-Audit-Log-Reason` header."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Auto Moderation"],"summary":"Delete Auto Moderation Rule","operationId":"deleteAutoModerationRule","description":"- [Delete Auto Moderation Rule](https://discord.com/developers/docs/resources/auto-moderation#delete-auto-moderation-rule)\n\n    Delete a rule. Returns a `204` on success. Fires an [Auto Moderation Rule Delete](#DOCS_TOPICS_GATEWAY/auto-moderation-rule-delete) Gateway event.\n  > info\n  > This endpoint requires the `MANAGE_GUILD` [permission](#DOCS_RESOURCES_AUTO_MODERATION/auto-moderation-permission-requirements).\n  > info\n  > This endpoint supports the `X-Audit-Log-Reason` header."}},"/channels/{channelId}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Get Channel","operationId":"getChannel","description":"- [Get Channel](https://discord.com/developers/docs/resources/channel#get-channel)\n\n    Get a channel by ID. Returns a [channel](#DOCS_RESOURCES_CHANNEL/channel-object) object.  If the channel is a thread, a [thread member](#DOCS_RESOURCES_CHANNEL/thread-member-object) object is included in the returned result."},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Modify Channel","operationId":"modifyChannel","description":"- [Modify Channel](https://discord.com/developers/docs/resources/channel#modify-channel)\n\n    Update a channel's settings. Returns a [channel](#DOCS_RESOURCES_CHANNEL/channel-object) on success, and a 400 BAD REQUEST on invalid parameters. All JSON parameters are optional.\n  > info\n  > This endpoint supports the `X-Audit-Log-Reason` header."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Delete/Close Channel","operationId":"deleteCloseChannel","description":"- [Delete/Close Channel](https://discord.com/developers/docs/resources/channel#delete)\n\n    Delete a channel, or close a private message. Requires the `MANAGE_CHANNELS` permission for the guild, or `MANAGE_THREADS` if the channel is a thread. Deleting a category does not delete its child channels; they will have their `parent_id` removed and a [Channel Update](#DOCS_TOPICS_GATEWAY/channel-update) Gateway event will fire for each of them. Returns a [channel](#DOCS_RESOURCES_CHANNEL/channel-object) object on success. Fires a [Channel Delete](#DOCS_TOPICS_GATEWAY/channel-delete) Gateway event (or [Thread Delete](#DOCS_TOPICS_GATEWAY/thread-delete) if the channel was a thread).\n  > warn\n  > Deleting a guild channel cannot be undone. Use this with caution, as it is impossible to undo this action when performed on a guild channel. In contrast, when used with a private message, it is possible to undo the action by opening a private message with the recipient again.\n  > info\n  > For Community guilds, the Rules or Guidelines channel and the Community Updates channel cannot be deleted.\n  > info\n  > This endpoint supports the `X-Audit-Log-Reason` header."}},"/channels/{channelId}/messages":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Get Channel Messages","operationId":"getChannelMessages","description":"- [Get Channel Messages](https://discord.com/developers/docs/resources/channel#get-channel-messages)\n\n    Returns the messages for a channel. If operating on a guild channel, this endpoint requires the `VIEW_CHANNEL` permission to be present on the current user. If the current user is missing the `READ_MESSAGE_HISTORY` permission in the channel then this will return no messages (since they cannot read the message history). Returns an array of [message](#DOCS_RESOURCES_CHANNEL/message-object) objects on success.\n  > info\n  > The `before`, `after`, and `around` parameters are mutually exclusive, only one may be passed at a time."},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Create Message","operationId":"createMessage","description":"- [Create Message](https://discord.com/developers/docs/resources/channel#create-message)\n\n    > warn\n  > Discord may strip certain characters from message content, like invalid unicode characters or characters which cause unexpected message formatting. If you are passing user-generated strings into message content, consider sanitizing the data to prevent unexpected behavior and utilizing `allowed_mentions` to prevent unexpected mentions.\n  Post a message to a guild text or DM channel. Returns a [message](#DOCS_RESOURCES_CHANNEL/message-object) object. Fires a [Message Create](#DOCS_TOPICS_GATEWAY/message-create) Gateway event. See [message formatting](#DOCS_REFERENCE/message-formatting) for more information on how to properly format messages.\n  To create a message as a reply to another message, apps can include a [`message_reference`](#DOCS_RESOURCES_CHANNEL/message-reference-object-message-reference-structure) with a `message_id`. The `channel_id` and `guild_id` in the `message_reference` are optional, but will be validated if provided.\n  Files must be attached using a `multipart/form-data` body as described in [Uploading Files](#DOCS_REFERENCE/uploading-files)."}},"/channels/{channelId}/messages/{messageId}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"},{"name":"messageId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[message.id](https://discord.com/developers/docs/resources/channel#message-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Get Channel Message","operationId":"getChannelMessage","description":"- [Get Channel Message](https://discord.com/developers/docs/resources/channel#get-channel-message)\n\n    Returns a specific message in the channel. If operating on a guild channel, this endpoint requires the `READ_MESSAGE_HISTORY` permission to be present on the current user. Returns a [message](#DOCS_RESOURCES_CHANNEL/message-object) object on success."},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Edit Message","operationId":"editMessage","description":"- [Edit Message](https://discord.com/developers/docs/resources/channel#edit-message)\n\n    Edit a previously sent message. The fields `content`, `embeds`, and `flags` can be edited by the original message author. Other users can only edit `flags` and only if they have the `MANAGE_MESSAGES` permission in the corresponding channel. When specifying flags, ensure to include all previously set flags/bits in addition to ones that you are modifying. Only `flags` documented in the table below may be modified by users (unsupported flag changes are currently ignored without error).\n  When the `content` field is edited, the `mentions` array in the message object will be reconstructed from scratch based on the new content. The `allowed_mentions` field of the edit request controls how this happens. If there is no explicit `allowed_mentions` in the edit request, the content will be parsed with _default_ allowances, that is, without regard to whether or not an `allowed_mentions` was present in the request that originally created the message.\n  Returns a [message](#DOCS_RESOURCES_CHANNEL/message-object) object. Fires a [Message Update](#DOCS_TOPICS_GATEWAY/message-update) Gateway event.\n  Refer to [Uploading Files](#DOCS_REFERENCE/uploading-files) for details on attachments and `multipart/form-data` requests.\n  Any provided files will be **appended** to the message. To remove or replace files you will have to supply the `attachments` field which specifies the files to retain on the message after edit.\n  > warn\n  > Starting with API v10, the `attachments` array must contain all attachments that should be present after edit, including **retained and new** attachments provided in the request body.\n  > info\n  > All parameters to this endpoint are optional and nullable."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Delete Message","operationId":"deleteMessage","description":"- [Delete Message](https://discord.com/developers/docs/resources/channel#delete-message)\n\n    Delete a message. If operating on a guild channel and trying to delete a message that was not sent by the current user, this endpoint requires the `MANAGE_MESSAGES` permission. Returns a 204 empty response on success. Fires a [Message Delete](#DOCS_TOPICS_GATEWAY/message-delete) Gateway event.\n  > info\n  > This endpoint supports the `X-Audit-Log-Reason` header."}},"/channels/{channelId}/messages/{messageId}/crosspost":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"},{"name":"messageId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[message.id](https://discord.com/developers/docs/resources/channel#message-object)"}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Crosspost Message","operationId":"crosspostMessage","description":"- [Crosspost Message](https://discord.com/developers/docs/resources/channel#crosspost-message)\n\n    Crosspost a message in an Announcement Channel to following channels. This endpoint requires the `SEND_MESSAGES` permission, if the current user sent the message, or additionally the `MANAGE_MESSAGES` permission, for all other messages, to be present for the current user.\n  Returns a [message](#DOCS_RESOURCES_CHANNEL/message-object) object."}},"/channels/{channelId}/messages/{messageId}/reactions/{emoji}/@me":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"},{"name":"messageId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[message.id](https://discord.com/developers/docs/resources/channel#message-object)"},{"name":"emoji","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Emoji"},"description":"[emoji](https://discord.com/developers/docs/resources/emoji#emoji-object)"}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Create Reaction","operationId":"createReaction","description":"- [Create Reaction](https://discord.com/developers/docs/resources/channel#create-reaction)\n\n    Create a reaction for the message. This endpoint requires the `READ_MESSAGE_HISTORY` permission to be present on the current user. Additionally, if nobody else has reacted to the message using this emoji, this endpoint requires the `ADD_REACTIONS` permission to be present on the current user. Returns a 204 empty response on success. Fires a [Message Reaction Add](#DOCS_TOPICS_GATEWAY/message-reaction-add) Gateway event.\n  The `emoji` must be [URL Encoded](https://en.wikipedia.org/wiki/Percent-encoding) or the request will fail with `10014: Unknown Emoji`. To use custom emoji, you must encode it in the format `name:id` with the emoji name and emoji id."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Delete Own Reaction","operationId":"deleteOwnReaction","description":"- [Delete Own Reaction](https://discord.com/developers/docs/resources/channel#delete-own-reaction)\n\n    Delete a reaction the current user has made for the message. Returns a 204 empty response on success. Fires a [Message Reaction Remove](#DOCS_TOPICS_GATEWAY/message-reaction-remove) Gateway event.\n  The `emoji` must be [URL Encoded](https://en.wikipedia.org/wiki/Percent-encoding) or the request will fail with `10014: Unknown Emoji`. To use custom emoji, you must encode it in the format `name:id` with the emoji name and emoji id."}},"/channels/{channelId}/messages/{messageId}/reactions/{emoji}/{userId}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"},{"name":"messageId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[message.id](https://discord.com/developers/docs/resources/channel#message-object)"},{"name":"emoji","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Emoji"},"description":"[emoji](https://discord.com/developers/docs/resources/emoji#emoji-object)"},{"name":"userId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[user.id](https://discord.com/developers/docs/resources/user#user-object)"}],"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Delete User Reaction","operationId":"deleteUserReaction","description":"- [Delete User Reaction](https://discord.com/developers/docs/resources/channel#delete-user-reaction)\n\n    Deletes another user's reaction. This endpoint requires the `MANAGE_MESSAGES` permission to be present on the current user. Returns a 204 empty response on success. Fires a [Message Reaction Remove](#DOCS_TOPICS_GATEWAY/message-reaction-remove) Gateway event.\n  The `emoji` must be [URL Encoded](https://en.wikipedia.org/wiki/Percent-encoding) or the request will fail with `10014: Unknown Emoji`. To use custom emoji, you must encode it in the format `name:id` with the emoji name and emoji id."}},"/channels/{channelId}/messages/{messageId}/reactions/{emoji}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"},{"name":"messageId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[message.id](https://discord.com/developers/docs/resources/channel#message-object)"},{"name":"emoji","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Emoji"},"description":"[emoji](https://discord.com/developers/docs/resources/emoji#emoji-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Get Reactions","operationId":"getReactions","description":"- [Get Reactions](https://discord.com/developers/docs/resources/channel#get-reactions)\n\n    Get a list of users that reacted with this emoji. Returns an array of [user](#DOCS_RESOURCES_USER/user-object) objects on success.\n  The `emoji` must be [URL Encoded](https://en.wikipedia.org/wiki/Percent-encoding) or the request will fail with `10014: Unknown Emoji`. To use custom emoji, you must encode it in the format `name:id` with the emoji name and emoji id."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Delete All Reactions for Emoji","operationId":"deleteAllReactionsForEmoji","description":"- [Delete All Reactions for Emoji](https://discord.com/developers/docs/resources/channel#delete-all-reactions-for-emoji)\n\n    Deletes all the reactions for a given emoji on a message. This endpoint requires the `MANAGE_MESSAGES` permission to be present on the current user. Fires a [Message Reaction Remove Emoji](#DOCS_TOPICS_GATEWAY/message-reaction-remove-emoji) Gateway event.\n  The `emoji` must be [URL Encoded](https://en.wikipedia.org/wiki/Percent-encoding) or the request will fail with `10014: Unknown Emoji`. To use custom emoji, you must encode it in the format `name:id` with the emoji name and emoji id."}},"/channels/{channelId}/messages/{messageId}/reactions":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"},{"name":"messageId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[message.id](https://discord.com/developers/docs/resources/channel#message-object)"}],"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Delete All Reactions","operationId":"deleteAllReactions","description":"- [Delete All Reactions](https://discord.com/developers/docs/resources/channel#delete-all-reactions)\n\n    Deletes all reactions on a message. This endpoint requires the `MANAGE_MESSAGES` permission to be present on the current user. Fires a [Message Reaction Remove All](#DOCS_TOPICS_GATEWAY/message-reaction-remove-all) Gateway event."}},"/channels/{channelId}/messages/bulk-delete":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Bulk Delete Messages","operationId":"bulkDeleteMessages","description":"- [Bulk Delete Messages](https://discord.com/developers/docs/resources/channel#bulk-delete-messages)\n\n    Delete multiple messages in a single request. This endpoint can only be used on guild channels and requires the `MANAGE_MESSAGES` permission. Returns a 204 empty response on success. Fires a [Message Delete Bulk](#DOCS_TOPICS_GATEWAY/message-delete-bulk) Gateway event.\n  Any message IDs given that do not exist or are invalid will count towards the minimum and maximum message count (currently 2 and 100 respectively).\n  > warn\n  > This endpoint will not delete messages older than 2 weeks, and will fail with a 400 BAD REQUEST if any message provided is older than that or if any duplicate message IDs are provided.\n  > info\n  > This endpoint supports the `X-Audit-Log-Reason` header."}},"/channels/{channelId}/permissions/{overwriteId}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"},{"name":"overwriteId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[overwrite.id](https://discord.com/developers/docs/resources/channel#overwrite-object)"}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Edit Channel Permissions","operationId":"editChannelPermissions","description":"- [Edit Channel Permissions](https://discord.com/developers/docs/resources/channel#edit-channel-permissions)\n\n    Edit the channel permission overwrites for a user or role in a channel. Only usable for guild channels. Requires the `MANAGE_ROLES` permission. Only permissions your bot has in the guild or parent channel (if applicable) can be allowed/denied (unless your bot has a `MANAGE_ROLES` overwrite in the channel). Returns a 204 empty response on success. Fires a [Channel Update](#DOCS_TOPICS_GATEWAY/channel-update) Gateway event. For more information about permissions, see [permissions](#DOCS_TOPICS_PERMISSIONS/permissions).\n  > info\n  > This endpoint supports the `X-Audit-Log-Reason` header."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Delete Channel Permission","operationId":"deleteChannelPermission","description":"- [Delete Channel Permission](https://discord.com/developers/docs/resources/channel#delete-channel-permission)\n\n    Delete a channel permission overwrite for a user or role in a channel. Only usable for guild channels. Requires the `MANAGE_ROLES` permission. Returns a 204 empty response on success. Fires a [Channel Update](#DOCS_TOPICS_GATEWAY/channel-update) Gateway event. For more information about permissions, see [permissions](#DOCS_TOPICS_PERMISSIONS/permissions)\n  > info\n  > This endpoint supports the `X-Audit-Log-Reason` header."}},"/channels/{channelId}/invites":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Get Channel Invites","operationId":"getChannelInvites","description":"- [Get Channel Invites](https://discord.com/developers/docs/resources/channel#get-channel-invites)\n\n    Returns a list of [invite](#DOCS_RESOURCES_INVITE/invite-object) objects (with [invite metadata](#DOCS_RESOURCES_INVITE/invite-metadata-object)) for the channel. Only usable for guild channels. Requires the `MANAGE_CHANNELS` permission."},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Create Channel Invite","operationId":"createChannelInvite","description":"- [Create Channel Invite](https://discord.com/developers/docs/resources/channel#create-channel-invite)\n\n    Create a new [invite](#DOCS_RESOURCES_INVITE/invite-object) object for the channel. Only usable for guild channels. Requires the `CREATE_INSTANT_INVITE` permission. All JSON parameters for this route are optional, however the request body is not. If you are not sending any fields, you still have to send an empty JSON object (`{}`). Returns an [invite](#DOCS_RESOURCES_INVITE/invite-object) object. Fires an [Invite Create](#DOCS_TOPICS_GATEWAY/invite-create) Gateway event.\n  > info\n  > This endpoint supports the `X-Audit-Log-Reason` header."}},"/channels/{channelId}/followers":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Follow Announcement Channel","operationId":"followAnnouncementChannel","description":"- [Follow Announcement Channel](https://discord.com/developers/docs/resources/channel#follow-announcement-channel)\n\n    Follow an Announcement Channel to send messages to a target channel. Requires the `MANAGE_WEBHOOKS` permission in the target channel. Returns a [followed channel](#DOCS_RESOURCES_CHANNEL/followed-channel-object) object. Fires a [Webhooks Update](#DOCS_TOPICS_GATEWAY/webhooks-update) Gateway event for the target channel."}},"/channels/{channelId}/typing":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Trigger Typing Indicator","operationId":"triggerTypingIndicator","description":"- [Trigger Typing Indicator](https://discord.com/developers/docs/resources/channel#trigger-typing-indicator)\n\n    Post a typing indicator for the specified channel. Generally bots should **not** implement this route. However, if a bot is responding to a command and expects the computation to take a few seconds, this endpoint may be called to let the user know that the bot is processing their message. Returns a 204 empty response on success. Fires a [Typing Start](#DOCS_TOPICS_GATEWAY/typing-start) Gateway event."}},"/channels/{channelId}/pins":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Get Pinned Messages","operationId":"getPinnedMessages","description":"- [Get Pinned Messages](https://discord.com/developers/docs/resources/channel#get-pinned-messages)\n\n    Returns all pinned messages in the channel as an array of [message](#DOCS_RESOURCES_CHANNEL/message-object) objects."}},"/channels/{channelId}/pins/{messageId}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"},{"name":"messageId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[message.id](https://discord.com/developers/docs/resources/channel#message-object)"}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Pin Message","operationId":"pinMessage","description":"- [Pin Message](https://discord.com/developers/docs/resources/channel#pin-message)\n\n    Pin a message in a channel. Requires the `MANAGE_MESSAGES` permission. Returns a 204 empty response on success. Fires a [Channel Pins Update](#DOCS_TOPICS_GATEWAY/channel-pins-update) Gateway event.\n  > warn\n  > The max pinned messages is 50.\n  > info\n  > This endpoint supports the `X-Audit-Log-Reason` header."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Unpin Message","operationId":"unpinMessage","description":"- [Unpin Message](https://discord.com/developers/docs/resources/channel#unpin-message)\n\n    Unpin a message in a channel. Requires the `MANAGE_MESSAGES` permission. Returns a 204 empty response on success. Fires a [Channel Pins Update](#DOCS_TOPICS_GATEWAY/channel-pins-update) Gateway event.\n  > info\n  > This endpoint supports the `X-Audit-Log-Reason` header."}},"/channels/{channelId}/recipients/{userId}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"},{"name":"userId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[user.id](https://discord.com/developers/docs/resources/user#user-object)"}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Group DM Add Recipient","operationId":"groupDMAddRecipient","description":"- [Group DM Add Recipient](https://discord.com/developers/docs/resources/channel#group-dm-add-recipient)\n\n    Adds a recipient to a Group DM using their access token."},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Group DM Remove Recipient","operationId":"groupDMRemoveRecipient","description":"- [Group DM Remove Recipient](https://discord.com/developers/docs/resources/channel#group-dm-remove-recipient)\n\n    Removes a recipient from a Group DM."}},"/channels/{channelId}/messages/{messageId}/threads":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[channel.id](https://discord.com/developers/docs/resources/channel#channel-object)"},{"name":"messageId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Snowflake"},"description":"[message.id](https://discord.com/developers/docs/resources/channel#message-object)"}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotF
[...]
