{"openapi":"3.0.0","info":{"title":"Discord REST Api","version":"10"},"servers":[{"url":"https://discord.com/api/v10","description":"The Discord v10 REST endpoint"}],"paths":{"/applications/{applicationId}/achievements":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Achievements"],"summary":"Get Achievements","operationId":"getAchievements","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/achievements#get-achievements"}},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Achievements"],"summary":"Create Achievement","operationId":"createAchievement","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/achievements#create-achievement"}}},"/applications/{applicationId}/achievements/{achievementId}":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"achievementId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Achievements"],"summary":"Get Achievement","operationId":"getAchievement","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/achievements#get-achievement"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Achievements"],"summary":"Update Achievement","operationId":"updateAchievement","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/achievements#update-achievement"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Achievements"],"summary":"Delete Achievement","operationId":"deleteAchievement","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/achievements#delete-achievement"}}},"/users/{userId}/applications/{applicationId}/achievements/{achievementId}":{"parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"achievementId","in":"path","required":true,"schema":{"type":"string"}}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Achievements"],"summary":"Update User Achievement","operationId":"updateUserAchievement","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/achievements#update-user-achievement"}}},"/users/@me/applications/{applicationId}/achievements":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Achievements"],"summary":"Get User Achievements","operationId":"getUserAchievements","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/achievements#get-user-achievements"}}},"/lobbies":{"parameters":[],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Lobbies"],"summary":"Create Lobby","operationId":"createLobby","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/lobbies#create-lobby"}}},"/lobbies/{lobbyId}":{"parameters":[{"name":"lobbyId","in":"path","required":true,"schema":{"type":"string"}}],"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Lobbies"],"summary":"Update Lobby","operationId":"updateLobby","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/lobbies#update-lobby"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Lobbies"],"summary":"Delete Lobby","operationId":"deleteLobby","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/lobbies#delete-lobby"}}},"/lobbies/{lobbyId}/members/{userId}":{"parameters":[{"name":"lobbyId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Lobbies"],"summary":"Update Lobby Member","operationId":"updateLobbyMember","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/lobbies#update-lobby-member"}}},"/lobbies/search":{"parameters":[],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Lobbies"],"summary":"Create Lobby Search","operationId":"createLobbySearch","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/lobbies#create-lobby-search"}}},"/lobbies/{lobbyId}/send":{"parameters":[{"name":"lobbyId","in":"path","required":true,"schema":{"type":"string"}}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Lobbies"],"summary":"Send Lobby Data","operationId":"sendLobbyData","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/lobbies#send-lobby-data"}}},"/applications/{applicationId}/entitlements":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Store"],"summary":"Get Entitlements","operationId":"getEntitlements","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/store#get-entitlements"}}},"/applications/{applicationId}/entitlements/{entitlementId}":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"entitlementId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Store"],"summary":"Get Entitlement","operationId":"getEntitlement","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/store#get-entitlement"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Store"],"summary":"Delete Test Entitlement","operationId":"deleteTestEntitlement","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/store#delete-test-entitlement"}}},"/applications/{applicationId}/skus":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Store"],"summary":"Get SKUs","operationId":"getSKUs","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/store#get-skus"}}},"/applications/{applicationId}/entitlements/{entitlementId}/consume":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"entitlementId","in":"path","required":true,"schema":{"type":"string"}}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Store"],"summary":"Consume SKU","operationId":"consumeSKU","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/store#consume-sku"}}},"/store/skus/{skuId}/discounts/{userId}":{"parameters":[{"name":"skuId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Store"],"summary":"Create Purchase Discount","operationId":"createPurchaseDiscount","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/store#create-purchase-discount"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Store"],"summary":"Delete Purchase Discount","operationId":"deletePurchaseDiscount","externalDocs":{"url":"https://discord.com/developers/docs/game-sdk/store#delete-purchase-discount"}}},"/applications/{applicationId}/commands":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Get Global Application Commands","operationId":"getGlobalApplicationCommands","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#get-global-application-commands"}},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Create Global Application Command","operationId":"createGlobalApplicationCommand","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#create-global-application-command"}},"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Bulk Overwrite Global Application Commands","operationId":"bulkOverwriteGlobalApplicationCommands","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#bulk-overwrite-global-application-commands"}}},"/applications/{applicationId}/commands/{commandId}":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"commandId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Get Global Application Command","operationId":"getGlobalApplicationCommand","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#get-global-application-command"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Edit Global Application Command","operationId":"editGlobalApplicationCommand","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#edit-global-application-command"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Delete Global Application Command","operationId":"deleteGlobalApplicationCommand","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#delete-global-application-command"}}},"/applications/{applicationId}/guilds/{guildId}/commands":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Get Guild Application Commands","operationId":"getGuildApplicationCommands","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#get-guild-application-commands"}},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Create Guild Application Command","operationId":"createGuildApplicationCommand","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#create-guild-application-command"}},"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Bulk Overwrite Guild Application Commands","operationId":"bulkOverwriteGuildApplicationCommands","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#bulk-overwrite-guild-application-commands"}}},"/applications/{applicationId}/guilds/{guildId}/commands/{commandId}":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}},{"name":"commandId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Get Guild Application Command","operationId":"getGuildApplicationCommand","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#get-guild-application-command"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Edit Guild Application Command","operationId":"editGuildApplicationCommand","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#edit-guild-application-command"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Delete Guild Application Command","operationId":"deleteGuildApplicationCommand","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#delete-guild-application-command"}}},"/applications/{applicationId}/guilds/{guildId}/commands/permissions":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Get Guild Application Command Permissions","operationId":"getGuildApplicationCommandPermissions","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#get-guild-application-command-permissions"}},"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Batch Edit Application Command Permissions","operationId":"batchEditApplicationCommandPermissions","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#batch-edit-application-command-permissions"}}},"/applications/{applicationId}/guilds/{guildId}/commands/{commandId}/permissions":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}},{"name":"commandId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Get Application Command Permissions","operationId":"getApplicationCommandPermissions","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#get-application-command-permissions"}},"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Application Commands"],"summary":"Edit Application Command Permissions","operationId":"editApplicationCommandPermissions","externalDocs":{"url":"https://discord.com/developers/docs/interactions/application-commands#edit-application-command-permissions"}}},"/interactions/{interactionId}/{interactionToken}/callback":{"parameters":[{"name":"interactionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"interactionToken","in":"path","required":true,"schema":{"type":"string"}}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Create Interaction Response","operationId":"createInteractionResponse","externalDocs":{"url":"https://discord.com/developers/docs/interactions/receiving-and-responding#create-interaction-response"}}},"/webhooks/{applicationId}/{interactionToken}/messages/@original":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"interactionToken","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Get Original Interaction Response","operationId":"getOriginalInteractionResponse","externalDocs":{"url":"https://discord.com/developers/docs/interactions/receiving-and-responding#get-original-interaction-response"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Edit Original Interaction Response","operationId":"editOriginalInteractionResponse","externalDocs":{"url":"https://discord.com/developers/docs/interactions/receiving-and-responding#edit-original-interaction-response"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Delete Original Interaction Response","operationId":"deleteOriginalInteractionResponse","externalDocs":{"url":"https://discord.com/developers/docs/interactions/receiving-and-responding#delete-original-interaction-response"}}},"/webhooks/{applicationId}/{interactionToken}":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"interactionToken","in":"path","required":true,"schema":{"type":"string"}}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Create Followup Message","operationId":"createFollowupMessage","externalDocs":{"url":"https://discord.com/developers/docs/interactions/receiving-and-responding#create-followup-message"}}},"/webhooks/{applicationId}/{interactionToken}/messages/{messageId}":{"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"interactionToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Get Followup Message","operationId":"getFollowupMessage","externalDocs":{"url":"https://discord.com/developers/docs/interactions/receiving-and-responding#get-followup-message"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Edit Followup Message","operationId":"editFollowupMessage","externalDocs":{"url":"https://discord.com/developers/docs/interactions/receiving-and-responding#edit-followup-message"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Receiving and Responding"],"summary":"Delete Followup Message","operationId":"deleteFollowupMessage","externalDocs":{"url":"https://discord.com/developers/docs/interactions/receiving-and-responding#delete-followup-message"}}},"/guilds/{guildId}/audit-logs":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Audit Log"],"summary":"Get Guild Audit Log","operationId":"getGuildAuditLog","externalDocs":{"url":"https://discord.com/developers/docs/resources/audit-log#get-guild-audit-log"}}},"/guilds/{guildId}/auto-moderation/rules":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Auto Moderation"],"summary":"List Auto Moderation Rules for Guild","operationId":"listAutoModerationRulesForGuild","externalDocs":{"url":"https://discord.com/developers/docs/resources/auto-moderation#list-auto-moderation-rules-for-guild"}},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Auto Moderation"],"summary":"Create Auto Moderation Rule","operationId":"createAutoModerationRule","externalDocs":{"url":"https://discord.com/developers/docs/resources/auto-moderation#create-auto-moderation-rule"}}},"/guilds/{guildId}/auto-moderation/rules/{autoModerationRuleId}":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}},{"name":"autoModerationRuleId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Auto Moderation"],"summary":"Get Auto Moderation Rule","operationId":"getAutoModerationRule","externalDocs":{"url":"https://discord.com/developers/docs/resources/auto-moderation#get-auto-moderation-rule"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Auto Moderation"],"summary":"Modify Auto Moderation Rule","operationId":"modifyAutoModerationRule","externalDocs":{"url":"https://discord.com/developers/docs/resources/auto-moderation#modify-auto-moderation-rule"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Auto Moderation"],"summary":"Delete Auto Moderation Rule","operationId":"deleteAutoModerationRule","externalDocs":{"url":"https://discord.com/developers/docs/resources/auto-moderation#delete-auto-moderation-rule"}}},"/channels/{channelId}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Get Channel","operationId":"getChannel","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#get-channel"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Modify Channel","operationId":"modifyChannel","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#modify-channel"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Delete/Close Channel","operationId":"delete/CloseChannel","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#deleteclose-channel"}}},"/channels/{channelId}/messages":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Get Channel Messages","operationId":"getChannelMessages","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#get-channel-messages"}},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Create Message","operationId":"createMessage","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#create-message"}}},"/channels/{channelId}/messages/{messageId}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}},{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Get Channel Message","operationId":"getChannelMessage","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#get-channel-message"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Edit Message","operationId":"editMessage","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#edit-message"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Delete Message","operationId":"deleteMessage","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#delete-message"}}},"/channels/{channelId}/messages/{messageId}/crosspost":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}},{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Crosspost Message","operationId":"crosspostMessage","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#crosspost-message"}}},"/channels/{channelId}/messages/{messageId}/reactions/{emoji}/@me":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}},{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}},{"name":"emoji","in":"path","required":true,"schema":{"type":"string"}}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Create Reaction","operationId":"createReaction","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#create-reaction"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Delete Own Reaction","operationId":"deleteOwnReaction","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#delete-own-reaction"}}},"/channels/{channelId}/messages/{messageId}/reactions/{emoji}/{userId}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}},{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}},{"name":"emoji","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Delete User Reaction","operationId":"deleteUserReaction","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#delete-user-reaction"}}},"/channels/{channelId}/messages/{messageId}/reactions/{emoji}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}},{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}},{"name":"emoji","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Get Reactions","operationId":"getReactions","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#get-reactions"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Delete All Reactions for Emoji","operationId":"deleteAllReactionsForEmoji","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#delete-all-reactions-for-emoji"}}},"/channels/{channelId}/messages/{messageId}/reactions":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}},{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}}],"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Delete All Reactions","operationId":"deleteAllReactions","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#delete-all-reactions"}}},"/channels/{channelId}/messages/bulk-delete":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Bulk Delete Messages","operationId":"bulkDeleteMessages","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#bulk-delete-messages"}}},"/channels/{channelId}/permissions/{overwriteId}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}},{"name":"overwriteId","in":"path","required":true,"schema":{"type":"string"}}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Edit Channel Permissions","operationId":"editChannelPermissions","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#edit-channel-permissions"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Delete Channel Permission","operationId":"deleteChannelPermission","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#delete-channel-permission"}}},"/channels/{channelId}/invites":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Get Channel Invites","operationId":"getChannelInvites","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#get-channel-invites"}},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Create Channel Invite","operationId":"createChannelInvite","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#create-channel-invite"}}},"/channels/{channelId}/followers":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Follow Announcement Channel","operationId":"followAnnouncementChannel","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#follow-announcement-channel"}}},"/channels/{channelId}/typing":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Trigger Typing Indicator","operationId":"triggerTypingIndicator","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#trigger-typing-indicator"}}},"/channels/{channelId}/pins":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Get Pinned Messages","operationId":"getPinnedMessages","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#get-pinned-messages"}}},"/channels/{channelId}/pins/{messageId}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}},{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Pin Message","operationId":"pinMessage","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#pin-message"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Unpin Message","operationId":"unpinMessage","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#unpin-message"}}},"/channels/{channelId}/recipients/{userId}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Group DM Add Recipient","operationId":"groupDMAddRecipient","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#group-dm-add-recipient"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Group DM Remove Recipient","operationId":"groupDMRemoveRecipient","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#group-dm-remove-recipient"}}},"/channels/{channelId}/messages/{messageId}/threads":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}},{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Start Thread from Message","operationId":"startThreadFromMessage","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#start-thread-from-message"}}},"/channels/{channelId}/threads":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Start Thread in Forum Channel","operationId":"startThreadInForumChannel","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#start-thread-in-forum-channel"}}},"/channels/{channelId}/thread-members/@me":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Join Thread","operationId":"joinThread","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#join-thread"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Leave Thread","operationId":"leaveThread","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#leave-thread"}}},"/channels/{channelId}/thread-members/{userId}":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Add Thread Member","operationId":"addThreadMember","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#add-thread-member"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Remove Thread Member","operationId":"removeThreadMember","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#remove-thread-member"}},"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"Get Thread Member","operationId":"getThreadMember","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#get-thread-member"}}},"/channels/{channelId}/thread-members":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"List Thread Members","operationId":"listThreadMembers","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#list-thread-members"}}},"/channels/{channelId}/threads/archived/public":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"List Public Archived Threads","operationId":"listPublicArchivedThreads","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#list-public-archived-threads"}}},"/channels/{channelId}/threads/archived/private":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"List Private Archived Threads","operationId":"listPrivateArchivedThreads","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#list-private-archived-threads"}}},"/channels/{channelId}/users/@me/threads/archived/private":{"parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Channel"],"summary":"List Joined Private Archived Threads","operationId":"listJoinedPrivateArchivedThreads","externalDocs":{"url":"https://discord.com/developers/docs/resources/channel#list-joined-private-archived-threads"}}},"/guilds/{guildId}/emojis":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Emoji"],"summary":"List Guild Emojis","operationId":"listGuildEmojis","externalDocs":{"url":"https://discord.com/developers/docs/resources/emoji#list-guild-emojis"}},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Emoji"],"summary":"Create Guild Emoji","operationId":"createGuildEmoji","externalDocs":{"url":"https://discord.com/developers/docs/resources/emoji#create-guild-emoji"}}},"/guilds/{guildId}/emojis/{emojiId}":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}},{"name":"emojiId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Emoji"],"summary":"Get Guild Emoji","operationId":"getGuildEmoji","externalDocs":{"url":"https://discord.com/developers/docs/resources/emoji#get-guild-emoji"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Emoji"],"summary":"Modify Guild Emoji","operationId":"modifyGuildEmoji","externalDocs":{"url":"https://discord.com/developers/docs/resources/emoji#modify-guild-emoji"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Emoji"],"summary":"Delete Guild Emoji","operationId":"deleteGuildEmoji","externalDocs":{"url":"https://discord.com/developers/docs/resources/emoji#delete-guild-emoji"}}},"/guilds":{"parameters":[],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Create Guild","operationId":"createGuild","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#create-guild"}}},"/guilds/{guildId}":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild","operationId":"getGuild","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Modify Guild","operationId":"modifyGuild","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#modify-guild"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Delete Guild","operationId":"deleteGuild","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#delete-guild"}}},"/guilds/{guildId}/preview":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Preview","operationId":"getGuildPreview","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-preview"}}},"/guilds/{guildId}/channels":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Channels","operationId":"getGuildChannels","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-channels"}},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Create Guild Channel","operationId":"createGuildChannel","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#create-guild-channel"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Modify Guild Channel Positions","operationId":"modifyGuildChannelPositions","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#modify-guild-channel-positions"}}},"/guilds/{guildId}/threads/active":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"List Active Guild Threads","operationId":"listActiveGuildThreads","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#list-active-guild-threads"}}},"/guilds/{guildId}/members/{userId}":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Member","operationId":"getGuildMember","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-member"}},"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Add Guild Member","operationId":"addGuildMember","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#add-guild-member"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Modify Guild Member","operationId":"modifyGuildMember","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#modify-guild-member"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Remove Guild Member","operationId":"removeGuildMember","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#remove-guild-member"}}},"/guilds/{guildId}/members":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"List Guild Members","operationId":"listGuildMembers","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#list-guild-members"}}},"/guilds/{guildId}/members/search":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Search Guild Members","operationId":"searchGuildMembers","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#search-guild-members"}}},"/guilds/{guildId}/members/@me":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Modify Current Member","operationId":"modifyCurrentMember","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#modify-current-member"}}},"/guilds/{guildId}/members/@me/nick":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Modify Current User Nick","operationId":"modifyCurrentUserNick","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#modify-current-user-nick"}}},"/guilds/{guildId}/members/{userId}/roles/{roleId}":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}}],"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Add Guild Member Role","operationId":"addGuildMemberRole","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#add-guild-member-role"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Remove Guild Member Role","operationId":"removeGuildMemberRole","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#remove-guild-member-role"}}},"/guilds/{guildId}/bans":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Bans","operationId":"getGuildBans","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-bans"}}},"/guilds/{guildId}/bans/{userId}":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Ban","operationId":"getGuildBan","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-ban"}},"put":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Create Guild Ban","operationId":"createGuildBan","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#create-guild-ban"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Remove Guild Ban","operationId":"removeGuildBan","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#remove-guild-ban"}}},"/guilds/{guildId}/roles":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Roles","operationId":"getGuildRoles","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-roles"}},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Create Guild Role","operationId":"createGuildRole","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#create-guild-role"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Modify Guild Role Positions","operationId":"modifyGuildRolePositions","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#modify-guild-role-positions"}}},"/guilds/{guildId}/roles/{roleId}":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}},{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}}],"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Modify Guild Role","operationId":"modifyGuildRole","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#modify-guild-role"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Delete Guild Role","operationId":"deleteGuildRole","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#delete-guild-role"}}},"/guilds/{guildId}/mfa":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Modify Guild MFA Level","operationId":"modifyGuildMFALevel","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#modify-guild-mfa-level"}}},"/guilds/{guildId}/prune":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Prune Count","operationId":"getGuildPruneCount","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-prune-count"}},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Begin Guild Prune","operationId":"beginGuildPrune","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#begin-guild-prune"}}},"/guilds/{guildId}/regions":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Voice Regions","operationId":"getGuildVoiceRegions","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-voice-regions"}}},"/guilds/{guildId}/invites":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Invites","operationId":"getGuildInvites","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-invites"}}},"/guilds/{guildId}/integrations":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Integrations","operationId":"getGuildIntegrations","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-integrations"}}},"/guilds/{guildId}/integrations/{integrationId}":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}},{"name":"integrationId","in":"path","required":true,"schema":{"type":"string"}}],"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Delete Guild Integration","operationId":"deleteGuildIntegration","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#delete-guild-integration"}}},"/guilds/{guildId}/widget":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Widget Settings","operationId":"getGuildWidgetSettings","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-widget-settings"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Modify Guild Widget","operationId":"modifyGuildWidget","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#modify-guild-widget"}}},"/guilds/{guildId}/widget.json":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Widget","operationId":"getGuildWidget","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-widget"}}},"/guilds/{guildId}/vanity-url":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Vanity URL","operationId":"getGuildVanityURL","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-vanity-url"}}},"/guilds/{guildId}/widget.png":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Widget Image","operationId":"getGuildWidgetImage","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-widget-image"}}},"/guilds/{guildId}/welcome-screen":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Get Guild Welcome Screen","operationId":"getGuildWelcomeScreen","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#get-guild-welcome-screen"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Modify Guild Welcome Screen","operationId":"modifyGuildWelcomeScreen","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#modify-guild-welcome-screen"}}},"/guilds/{guildId}/voice-states/@me":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Modify Current User Voice State","operationId":"modifyCurrentUserVoiceState","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#modify-current-user-voice-state"}}},"/guilds/{guildId}/voice-states/{userId}":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild"],"summary":"Modify User Voice State","operationId":"modifyUserVoiceState","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild#modify-user-voice-state"}}},"/guilds/{guildId}/scheduled-events":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild Scheduled Event"],"summary":"List Scheduled Events for Guild","operationId":"listScheduledEventsForGuild","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild-scheduled-event#list-scheduled-events-for-guild"}},"post":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild Scheduled Event"],"summary":"Create Guild Scheduled Event","operationId":"createGuildScheduledEvent","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild-scheduled-event#create-guild-scheduled-event"}}},"/guilds/{guildId}/scheduled-events/{guildScheduledEventId}":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}},{"name":"guildScheduledEventId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild Scheduled Event"],"summary":"Get Guild Scheduled Event","operationId":"getGuildScheduledEvent","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild-scheduled-event#get-guild-scheduled-event"}},"patch":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild Scheduled Event"],"summary":"Modify Guild Scheduled Event","operationId":"modifyGuildScheduledEvent","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild-scheduled-event#modify-guild-scheduled-event"}},"delete":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiError"},"502":{"$ref":"#/components/responses/DiscordGatewayUnavailableError"}},"tags":["Guild Scheduled Event"],"summary":"Delete Guild Scheduled Event","operationId":"deleteGuildScheduledEvent","externalDocs":{"url":"https://discord.com/developers/docs/resources/guild-scheduled-event#delete-guild-scheduled-event"}}},"/guilds/{guildId}/scheduled-events/{guildScheduledEventId}/users":{"parameters":[{"name":"guildId","in":"path","required":true,"schema":{"type":"string"}},{"name":"guildScheduledEventId","in":"path","required":true,"schema":{"type":"string"}}],"get":{"responses":{"401":{"$ref":"#/components/responses/DiscordUnauthorizedError"},"403":{"$ref":"#/components/responses/DiscordForbiddenError"},"404":{"$ref":"#/components/responses/DiscordNotFoundError"},"429":{"$ref":"#/components/responses/DiscordRatelimitError"},"500":{"$ref":"#/components/responses/DiscordApiEr
[...]
